In [1]:
import numpy as np
import pandas as pd
import os
import math

from pycausal.pycausal import pycausal as pc

import random
import re
import copy

from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import cross_val_score

In [2]:
foldername = "data"
filename = "credit_clean.csv"

sample_number = 5000
protected_attribute = 'sex'

In [3]:
data = pd.read_csv(foldername + '/' + filename)

print(data.dtypes)
# drop rows with any NA values

marriage                  object
gender                    object
checking_status           object
duration                  object
credit_history            object
purpose                   object
credit_amount             object
savings_status            object
employment                object
installment_commitment     int64
other_parties             object
residence_since            int64
property_magnitude        object
age                       object
other_payment_plans       object
housing                   object
existing_credits           int64
job                       object
num_dependents             int64
own_telephone             object
foreign_worker            object
class                     object
dtype: object

In [4]:
# Data generator
def find_range_cols(data):
        range_col = [] # columns that fit numerical values into ranges\
        for col in data.select_dtypes(exclude=['int64']).columns:
            if any(item in data[col][0] for item in ['>', '<']): 
                range_col.append(col)
        #print(range_col)
        return range_col
    
class DataGene(object):
    
    def __init__(self, data, sample_num=10, class_col='class'):
        self.data = data
        self.sample_num = sample_num
        self.class_col = 'class'
        
    def get_samples(self):
        features = self.data#.drop([self.class_col], axis=1)
        range_cols = find_range_cols(self.data)
        cat_cols = features.select_dtypes(exclude=['int64']).drop(range_cols, axis=1).columns
        num_cols = features.select_dtypes(include=['int64']).columns
        print(num_cols)
        output = []
        for var in num_cols:
            output.append(var)
        #print(type(output))
        samples = []
        
        for i in range(self.sample_num):
            sample_cat = [
                random.choice( list(set(features[cat_name])) )
                for cat_name in cat_cols
            ]
            sample_num = [
                random.choice( list(set(features[num_name])) )
                for num_name in num_cols
            ]
            sample_range = [
                random.choice( list(set(features[range_name])) )
                for range_name in range_cols
            ]
            sample = sample_cat + sample_num + sample_range
            samples.append(sample)
            
        
        samples = pd.DataFrame(samples, columns=list(cat_cols)+list(num_cols)+range_cols)
        return samples

In [5]:
# generate new samples
dataGene = DataGene(data, sample_num=sample_number)
new_samples = dataGene.get_samples()
new_samples
# encode sample data
#x_samples, y_samples = encoder.transform(new_samples)

Index(['installment_commitment', 'residence_since', 'existing_credits',
       'num_dependents'],
      dtype='object')

,marriage,gender,credit_history,purpose,savings_status,other_parties,property_magnitude,other_payment_plans,housing,job,...,class,installment_commitment,residence_since,existing_credits,num_dependents,checking_status,duration,credit_amount,employment,age
0,mar/wid,male,all paid,new car,>=1000,guarantor,no known property,stores,for free,skilled,...,good,1,1,1,1,>=200,x<4,9337<x<13880,>=7,47<x<61
1,mar/wid,male,all paid,used car,100<=X<500,none,life insurance,bank,for free,high qualif/self emp/mgmt,...,good,1,1,2,1,no checking,21<x<38,4793<x<9337,<1,47<x<61
2,mar/wid,female,critical/other existing credit,radio/tv,500<=X<1000,guarantor,real estate,stores,for free,unskilled resident,...,good,2,1,3,2,>=200,38<x<55,x<250,>=7,47<x<61
3,div/sep,male,existing paid,used car,500<=X<1000,co applicant,car,bank,own,skilled,...,good,4,4,3,1,>=200,x>55,x<250,<1,x>61
4,div/dep/mar,female,critical/other existing credit,used car,500<=X<1000,co applicant,real estate,stores,for free,unskilled resident,...,bad,2,1,2,1,0<=X<200,4<x<21,9337<x<13880,1<=X<4,x<19
5,single,male,critical/other existing credit,domestic appliance,>=1000,co applicant,life insurance,stores,own,unskilled resident,...,good,2,2,4,1,>=200,x>55,9337<x<13880,>=7,33<x<47
6,div/dep/mar,female,critical/other existing credit,retraining,<100,co applicant,no known property,stores,own,high qualif/self emp/mgmt,...,bad,1,2,1,2,>=200,4<x<21,4793<x<9337,4<=X<7,x>61
7,div/dep/mar,female,existing paid,other,no known savings,co applicant,car,none,for free,skilled,...,good,2,4,3,2,no checking,x>55,x>13880,1<=X<4,x>61
8,single,male,critical/other existing credit,used car,>=1000,none,no known property,bank,for free,unskilled resident,...,bad,4,2,2,1,no checking,38<x<55,x<250,1<=X<4,x>61
9,div/sep,female,critical/other existing credit,new car,100<=X<500,none,life insurance,bank,own,unemp/unskilled non res,...,bad,1,1,4,2,0<=X<200,21<x<38,250<x<4793,unemployed,47<x<61
10,div/sep,female,critical/other existing credit,domestic appliance,<100,guarantor,real estate,bank,rent,high qualif/self emp/mgmt,...,bad,3,4,4,1,>=200,x>55,250<x<4793,>=7,x<19
11,div/dep/mar,male,delayed previously,education,100<=X<500,none,real estate,stores,own,unskilled resident,...,bad,4,1,1,1,<0,x<4,x<250,<1,33<x<47
12,div/dep/mar,female,delayed previously,other,no known savings,co applicant,real estate,none,own,unskilled resident,...,good,1,4,2,1,<0,x>55,4793<x<9337,>=7,19<x<33
13,div/dep/mar,male,delayed previously,radio/tv,>=1000,none,life insurance,bank,own,high qualif/self emp/mgmt,...,good,4,1,4,2,0<=X<200,x<4,x>13880,>=7,19<x<33
14,single,male,no credits/all paid,business,>=1000,co applicant,life insurance,none,for free,unemp/unskilled non res,...,bad,1,1,3,2,<0,x<4,9337<x<13880,4<=X<7,47<x<61
15,div/dep/mar,female,critical/other existing credit,radio/tv,no known savings,guarantor,no known property,bank,for free,unemp/unskilled non res,...,bad,3,4,3,1,0<=X<200,4<x<21,x>13880,unemployed,47<x<61
16,div/sep,male,no credits/all paid,new car,>=1000,none,no known property,none,for free,unskilled resident,...,good,1,3,3,1,0<=X<200,4<x<21,4793<x<9337,unemployed,47<x<61
17,mar/wid,female,existing paid,business,500<=X<1000,co applicant,life insurance,stores,own,unemp/unskilled non res,...,bad,4,3,1,2,<0,4<x<21,4793<x<9337,<1,x>61
18,div/sep,male,delayed previously,business,500<=X<1000,none,life insurance,bank,rent,unskilled resident,...,bad,4,2,1,1,0<=X<200,21<x<38,x>13880,>=7,33<x<47
19,mar/wid,male,no credits/all paid,domestic appliance,500<=X<1000,co applicant,no known property,bank,rent,unemp/unskilled non res,...,bad,3,1,1,1,>=200,x>55,x>13880,<1,33<x<47
20,mar/wid,female,no credits/all paid,furniture/equipment,>=1000,co applicant,life insurance,bank,own,skilled,...,good,1,1,1,1,>=200,x<4,x>13880,unemployed,33<x<47
21,mar/wid,female,delayed previously,domestic appliance,no known savings,guarantor,life insurance,stores,own,unskilled resident,...,good,1,4,4,1,0<=X<200,x>55,9337<x<13880,1<=X<4,x<19
22,single,female,critical/other existing credit,used car,no known savings,guarantor,no known property,stores,for free,high qualif/self emp/mgmt,...,good,3,4,3,2,<0,4<x<21,9337<x<13880,4<=X<7,33<x<47
23,div/dep/mar,female,existing paid,new car,>=1000,co applicant,car,none,for free,skilled,...,good,2,1,1,1,>=200,x>55,x>13880,1<=X<4,x>61
24,div/sep,male,all paid,retraining,500<=X<1000,guarantor,no known property,stores,rent,skilled,...,good,1,4,3,1,0<=X<200,21<x<38,250<x<4793,4<=X<7,19<x<33
25,single,female,no credits/all paid,repairs,100<=X<500,guarantor,car,none,for free,high qualif/self emp/mgmt,...,bad,4,2,2,2,0<=X<200,x<4,4793<x<9337,unemployed,x<19
26,div/sep,male,delayed previously,education,<100,none,car,none,own,high qualif/self emp/mgmt,...,bad,4,2,4,1,0<=X<200,x<4,9337<x<13880,>=7,19<x<33
27,mar/wid,female,existing paid,business,100<=X<500,guarantor,car,bank,own,unemp/unskilled non res,...,bad,2,4,3,1,0<=X<200,x>55,4793<x<9337,>=7,x>61
28,div/dep/mar,male,all paid,education,500<=X<1000,guarantor,no known property,stores,own,high qualif/self emp/mgmt,...,good,1,4,3,1,no checking,x>55,250<x<4793,unemployed,33<x<47
29,div/dep/mar,male,all paid,new car,100<=X<500,co applicant,real estate,stores,rent,unemp/unskilled non res,...,good,1,3,4,2,>=200,4<x<21,x<250,4<=X<7,x<19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,single,female,existing paid,used car,500<=X<1000,none,no known property,stores,rent,unemp/unskilled non res,...,good,1,3,4,1,<0,x>55,9337<x<13880,1<=X<4,33<x<47
4971,div/dep/mar,female,existing paid,repairs,500<=X<1000,guarantor,life insurance,none,own,high qualif/self emp/mgmt,...,bad,2,3,1,2,0<=X<200,21<x<38,250<x<4793,4<=X<7,47<x<61
4972,single,female,no credits/all paid,furniture/equipment,500<=X<1000,guarantor,no known property,stores,rent,high qualif/self emp/mgmt,...,good,3,3,3,2,<0,x<4,x>13880,>=7,x<19
4973,single,male,delayed previously,used car,<100,co applicant,no known property,bank,for free,unemp/unskilled non res,...,bad,2,1,1,1,0<=X<200,x<4,9337<x<13880,4<=X<7,19<x<33
4974,div/sep,male,all paid,retraining,no known savings,co applicant,no known property,stores,for free,skilled,...,good,2,1,2,1,0<=X<200,21<x<38,x>13880,<1,19<x<33
4975,single,male,critical/other existing credit,used car,100<=X<500,co applicant,car,none,rent,high qualif/self emp/mgmt,...,bad,2,4,1,2,<0,x<4,4793<x<9337,<1,47<x<61
4976,single,male,existing paid,used car,100<=X<500,guarantor,life insurance,bank,for free,unemp/unskilled non res,...,bad,2,1,4,1,0<=X<200,4<x<21,9337<x<13880,>=7,33<x<47
4977,single,male,delayed previously,furniture/equipment,>=1000,co applicant,car,stores,for free,unskilled resident,...,good,2,2,3,2,<0,21<x<38,9337<x<13880,4<=X<7,33<x<47
4978,div/dep/mar,female,critical/other existing credit,education,no known savings,co applicant,car,none,for free,unemp/unskilled non res,...,good,2,4,3,1,no checking,4<x<21,4793<x<9337,1<=X<4,x<19
4979,div/dep/mar,male,existing paid,new car,>=1000,guarantor,car,stores,own,unskilled resident,...,good,2,4,1,1,0<=X<200,x<4,4793<x<9337,unemployed,x<19
4980,mar/wid,male,no credits/all paid,used car,>=1000,co applicant,real estate,bank,rent,unemp/unskilled non res,...,good,3,3,3,1,>=200,x>55,250<x<4793,unemployed,47<x<61
4981,div/dep/mar,female,all paid,used car,no known savings,co applicant,car,bank,rent,high qualif/self emp/mgmt,...,good,3,3,2,2,<0,21<x<38,4793<x<9337,1<=X<4,x<19
4982,single,male,existing paid,radio/tv,no known savings,none,car,none,rent,unemp/unskilled non res,...,good,2,2,3,1,>=200,x<4,x>13880,unemployed,19<x<33
4983,mar/wid,female,delayed previously,used car,<100,guarantor,no known property,bank,rent,skilled,...,bad,4,3,3,1,no checking,38<x<55,x<250,<1,x>61
4984,div/dep/mar,female,all paid,other,<100,co applicant,car,stores,own,unemp/unskilled non res,...,good,1,4,1,1,<0,38<x<55,250<x<4793,unemployed,x<19
4985,div/sep,male,existing paid,business,500<=X<1000,co applicant,real estate,stores,rent,high qualif/self emp/mgmt,...,good,2,1,2,1,>=200,x<4,4793<x<9337,<1,x<19
4986,div/sep,female,no credits/all paid,domestic appliance,100<=X<500,none,real estate,stores,own,unemp/unskilled non res,...,good,1,4,1,1,>=200,x>55,9337<x<13880,1<=X<4,19<x<33
4987,div/dep/mar,female,all paid,other,500<=X<1000,none,no known property,bank,rent,high qualif/self emp/mgmt,...,good,2,2,2,2,<0,21<x<38,250<x<4793,4<=X<7,x<19
4988,div/sep,female,no credits/all paid,used car,100<=X<500,guarantor,life insurance,bank,for free,high qualif/self emp/mgmt,...,good,1,1,1,2,<0,x<4,250<x<4793,>=7,x>61
4989,div/dep/mar,female,delayed previously,domestic appliance,100<=X<500,co applicant,no known property,none,rent,unskilled resident,...,good,4,2,4,1,0<=X<200,x>55,x<250,4<=X<7,33<x<47
4990,div/sep,female,no credits/all paid,domestic appliance,100<=X<500,co applicant,no known property,stores,for free,high qualif/self emp/mgmt,...,bad,2,4,4,2,no checking,21<x<38,x<250,1<=X<4,x<19
4991,mar/wid,male,all paid,furniture/equipment,<100,co applicant,life insurance,stores,own,high qualif/self emp/mgmt,...,good,2,1,3,1,<0,38<x<55,x<250,unemployed,x<19
4992,mar/wid,female,existing paid,furniture/equipment,no known savings,co applicant,life insurance,none,rent,skilled,...,bad,4,4,3,1,0<=X<200,4<x<21,4793<x<9337,>=7,47<x<61
4993,single,female,no credits/all paid,radio/tv,500<=X<1000,guarantor,no known property,none,for free,skilled,...,good,1,2,2,2,0<=X<200,x<4,x>13880,4<=X<7,19<x<33
4994,div/dep/mar,male,critical/other existing credit,radio/tv,500<=X<1000,guarantor,life insurance,none,own,high qualif/self emp/mgmt,...,bad,1,1,4,2,0<=X<200,38<x<55,x<250,>=7,x>61
4995,mar/wid,female,existing paid,domestic appliance,<100,none,real estate,bank,own,skilled,...,good,3,2,3,2,<0,4<x<21,9337<x<13880,4<=X<7,33<x<47
4996,mar/wid,female,critical/other existing credit,furniture/equipment,no known savings,co applicant,life insurance,bank,for free,high qualif/self emp/mgmt,...,bad,2,4,3,2,>=200,x<4,4793<x<9337,1<=X<4,x<19
4997,mar/wid,female,delayed previously,used car,no known savings,none,no known property,none,own,unskilled resident,...,bad,1,3,2,2,>=200,38<x<55,4793<x<9337,unemployed,19<x<33
4998,div/dep/mar,male,critical/other existing credit,radio/tv,<100,guarantor,life insurance,bank,own,skilled,...,bad,3,3,2,1,0<=X<200,x>55,250<x<4793,1<=X<4,x<19
4999,mar/wid,female,delayed previously,repairs,<100,none,car,none,rent,unemp/unskilled non res,...,good,3,4,1,1,>=200,4<x<21,9337<x<13880,1<=X<4,47<x<61

In [6]:
import pandas as pd
import os
from collections import OrderedDict
import math





def findRange(thresholds, v):
    for i, th in enumerate(thresholds):
        if(v <= th):
            if i==0:
                return "x<{}".format(th)
            elif i == len(thresholds)-1:
                return "x>{}".format(thresholds[i-1])
            else:
                return "{}<x<{}".format(thresholds[i-1], thresholds[i])

def convert_cate(arr):
    n = 4 #parts to be divided
    maxValue = max(arr)
    minValue = min(arr)
    thresholds = [ math.floor(i*(maxValue-minValue)/n)+minValue for i in range(n+1)]

    #print([findRange(thresholds, i) for i in arr])
    
    return pd.Series([findRange(thresholds, i) for i in arr])


def num2cate(dataIn):
    dfc = dataIn[:]
#     new_data = pd.DataFrame()
    for k in dfc.columns:
        if(k in dfc.select_dtypes(include=['int64'])):
            values = pd.to_numeric(dfc[k])
            dfc[k] = convert_cate(values.tolist())
        
    return dfc

# num to cate
new_samples = num2cate(new_samples)
new_samples

,marriage,gender,credit_history,purpose,savings_status,other_parties,property_magnitude,other_payment_plans,housing,job,...,class,installment_commitment,residence_since,existing_credits,num_dependents,checking_status,duration,credit_amount,employment,age
0,mar/wid,male,all paid,new car,>=1000,guarantor,no known property,stores,for free,skilled,...,good,x<1,x<1,x<1,x<1,>=200,x<4,9337<x<13880,>=7,47<x<61
1,mar/wid,male,all paid,used car,100<=X<500,none,life insurance,bank,for free,high qualif/self emp/mgmt,...,good,x<1,x<1,1<x<2,x<1,no checking,21<x<38,4793<x<9337,<1,47<x<61
2,mar/wid,female,critical/other existing credit,radio/tv,500<=X<1000,guarantor,real estate,stores,for free,unskilled resident,...,good,1<x<2,x<1,2<x<3,x>1,>=200,38<x<55,x<250,>=7,47<x<61
3,div/sep,male,existing paid,used car,500<=X<1000,co applicant,car,bank,own,skilled,...,good,x>3,x>3,2<x<3,x<1,>=200,x>55,x<250,<1,x>61
4,div/dep/mar,female,critical/other existing credit,used car,500<=X<1000,co applicant,real estate,stores,for free,unskilled resident,...,bad,1<x<2,x<1,1<x<2,x<1,0<=X<200,4<x<21,9337<x<13880,1<=X<4,x<19
5,single,male,critical/other existing credit,domestic appliance,>=1000,co applicant,life insurance,stores,own,unskilled resident,...,good,1<x<2,1<x<2,x>3,x<1,>=200,x>55,9337<x<13880,>=7,33<x<47
6,div/dep/mar,female,critical/other existing credit,retraining,<100,co applicant,no known property,stores,own,high qualif/self emp/mgmt,...,bad,x<1,1<x<2,x<1,x>1,>=200,4<x<21,4793<x<9337,4<=X<7,x>61
7,div/dep/mar,female,existing paid,other,no known savings,co applicant,car,none,for free,skilled,...,good,1<x<2,x>3,2<x<3,x>1,no checking,x>55,x>13880,1<=X<4,x>61
8,single,male,critical/other existing credit,used car,>=1000,none,no known property,bank,for free,unskilled resident,...,bad,x>3,1<x<2,1<x<2,x<1,no checking,38<x<55,x<250,1<=X<4,x>61
9,div/sep,female,critical/other existing credit,new car,100<=X<500,none,life insurance,bank,own,unemp/unskilled non res,...,bad,x<1,x<1,x>3,x>1,0<=X<200,21<x<38,250<x<4793,unemployed,47<x<61
10,div/sep,female,critical/other existing credit,domestic appliance,<100,guarantor,real estate,bank,rent,high qualif/self emp/mgmt,...,bad,2<x<3,x>3,x>3,x<1,>=200,x>55,250<x<4793,>=7,x<19
11,div/dep/mar,male,delayed previously,education,100<=X<500,none,real estate,stores,own,unskilled resident,...,bad,x>3,x<1,x<1,x<1,<0,x<4,x<250,<1,33<x<47
12,div/dep/mar,female,delayed previously,other,no known savings,co applicant,real estate,none,own,unskilled resident,...,good,x<1,x>3,1<x<2,x<1,<0,x>55,4793<x<9337,>=7,19<x<33
13,div/dep/mar,male,delayed previously,radio/tv,>=1000,none,life insurance,bank,own,high qualif/self emp/mgmt,...,good,x>3,x<1,x>3,x>1,0<=X<200,x<4,x>13880,>=7,19<x<33
14,single,male,no credits/all paid,business,>=1000,co applicant,life insurance,none,for free,unemp/unskilled non res,...,bad,x<1,x<1,2<x<3,x>1,<0,x<4,9337<x<13880,4<=X<7,47<x<61
15,div/dep/mar,female,critical/other existing credit,radio/tv,no known savings,guarantor,no known property,bank,for free,unemp/unskilled non res,...,bad,2<x<3,x>3,2<x<3,x<1,0<=X<200,4<x<21,x>13880,unemployed,47<x<61
16,div/sep,male,no credits/all paid,new car,>=1000,none,no known property,none,for free,unskilled resident,...,good,x<1,2<x<3,2<x<3,x<1,0<=X<200,4<x<21,4793<x<9337,unemployed,47<x<61
17,mar/wid,female,existing paid,business,500<=X<1000,co applicant,life insurance,stores,own,unemp/unskilled non res,...,bad,x>3,2<x<3,x<1,x>1,<0,4<x<21,4793<x<9337,<1,x>61
18,div/sep,male,delayed previously,business,500<=X<1000,none,life insurance,bank,rent,unskilled resident,...,bad,x>3,1<x<2,x<1,x<1,0<=X<200,21<x<38,x>13880,>=7,33<x<47
19,mar/wid,male,no credits/all paid,domestic appliance,500<=X<1000,co applicant,no known property,bank,rent,unemp/unskilled non res,...,bad,2<x<3,x<1,x<1,x<1,>=200,x>55,x>13880,<1,33<x<47
20,mar/wid,female,no credits/all paid,furniture/equipment,>=1000,co applicant,life insurance,bank,own,skilled,...,good,x<1,x<1,x<1,x<1,>=200,x<4,x>13880,unemployed,33<x<47
21,mar/wid,female,delayed previously,domestic appliance,no known savings,guarantor,life insurance,stores,own,unskilled resident,...,good,x<1,x>3,x>3,x<1,0<=X<200,x>55,9337<x<13880,1<=X<4,x<19
22,single,female,critical/other existing credit,used car,no known savings,guarantor,no known property,stores,for free,high qualif/self emp/mgmt,...,good,2<x<3,x>3,2<x<3,x>1,<0,4<x<21,9337<x<13880,4<=X<7,33<x<47
23,div/dep/mar,female,existing paid,new car,>=1000,co applicant,car,none,for free,skilled,...,good,1<x<2,x<1,x<1,x<1,>=200,x>55,x>13880,1<=X<4,x>61
24,div/sep,male,all paid,retraining,500<=X<1000,guarantor,no known property,stores,rent,skilled,...,good,x<1,x>3,2<x<3,x<1,0<=X<200,21<x<38,250<x<4793,4<=X<7,19<x<33
25,single,female,no credits/all paid,repairs,100<=X<500,guarantor,car,none,for free,high qualif/self emp/mgmt,...,bad,x>3,1<x<2,1<x<2,x>1,0<=X<200,x<4,4793<x<9337,unemployed,x<19
26,div/sep,male,delayed previously,education,<100,none,car,none,own,high qualif/self emp/mgmt,...,bad,x>3,1<x<2,x>3,x<1,0<=X<200,x<4,9337<x<13880,>=7,19<x<33
27,mar/wid,female,existing paid,business,100<=X<500,guarantor,car,bank,own,unemp/unskilled non res,...,bad,1<x<2,x>3,2<x<3,x<1,0<=X<200,x>55,4793<x<9337,>=7,x>61
28,div/dep/mar,male,all paid,education,500<=X<1000,guarantor,no known property,stores,own,high qualif/self emp/mgmt,...,good,x<1,x>3,2<x<3,x<1,no checking,x>55,250<x<4793,unemployed,33<x<47
29,div/dep/mar,male,all paid,new car,100<=X<500,co applicant,real estate,stores,rent,unemp/unskilled non res,...,good,x<1,2<x<3,x>3,x>1,>=200,4<x<21,x<250,4<=X<7,x<19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,single,female,existing paid,used car,500<=X<1000,none,no known property,stores,rent,unemp/unskilled non res,...,good,x<1,2<x<3,x>3,x<1,<0,x>55,9337<x<13880,1<=X<4,33<x<47
4971,div/dep/mar,female,existing paid,repairs,500<=X<1000,guarantor,life insurance,none,own,high qualif/self emp/mgmt,...,bad,1<x<2,2<x<3,x<1,x>1,0<=X<200,21<x<38,250<x<4793,4<=X<7,47<x<61
4972,single,female,no credits/all paid,furniture/equipment,500<=X<1000,guarantor,no known property,stores,rent,high qualif/self emp/mgmt,...,good,2<x<3,2<x<3,2<x<3,x>1,<0,x<4,x>13880,>=7,x<19
4973,single,male,delayed previously,used car,<100,co applicant,no known property,bank,for free,unemp/unskilled non res,...,bad,1<x<2,x<1,x<1,x<1,0<=X<200,x<4,9337<x<13880,4<=X<7,19<x<33
4974,div/sep,male,all paid,retraining,no known savings,co applicant,no known property,stores,for free,skilled,...,good,1<x<2,x<1,1<x<2,x<1,0<=X<200,21<x<38,x>13880,<1,19<x<33
4975,single,male,critical/other existing credit,used car,100<=X<500,co applicant,car,none,rent,high qualif/self emp/mgmt,...,bad,1<x<2,x>3,x<1,x>1,<0,x<4,4793<x<9337,<1,47<x<61
4976,single,male,existing paid,used car,100<=X<500,guarantor,life insurance,bank,for free,unemp/unskilled non res,...,bad,1<x<2,x<1,x>3,x<1,0<=X<200,4<x<21,9337<x<13880,>=7,33<x<47
4977,single,male,delayed previously,furniture/equipment,>=1000,co applicant,car,stores,for free,unskilled resident,...,good,1<x<2,1<x<2,2<x<3,x>1,<0,21<x<38,9337<x<13880,4<=X<7,33<x<47
4978,div/dep/mar,female,critical/other existing credit,education,no known savings,co applicant,car,none,for free,unemp/unskilled non res,...,good,1<x<2,x>3,2<x<3,x<1,no checking,4<x<21,4793<x<9337,1<=X<4,x<19
4979,div/dep/mar,male,existing paid,new car,>=1000,guarantor,car,stores,own,unskilled resident,...,good,1<x<2,x>3,x<1,x<1,0<=X<200,x<4,4793<x<9337,unemployed,x<19
4980,mar/wid,male,no credits/all paid,used car,>=1000,co applicant,real estate,bank,rent,unemp/unskilled non res,...,good,2<x<3,2<x<3,2<x<3,x<1,>=200,x>55,250<x<4793,unemployed,47<x<61
4981,div/dep/mar,female,all paid,used car,no known savings,co applicant,car,bank,rent,high qualif/self emp/mgmt,...,good,2<x<3,2<x<3,1<x<2,x>1,<0,21<x<38,4793<x<9337,1<=X<4,x<19
4982,single,male,existing paid,radio/tv,no known savings,none,car,none,rent,unemp/unskilled non res,...,good,1<x<2,1<x<2,2<x<3,x<1,>=200,x<4,x>13880,unemployed,19<x<33
4983,mar/wid,female,delayed previously,used car,<100,guarantor,no known property,bank,rent,skilled,...,bad,x>3,2<x<3,2<x<3,x<1,no checking,38<x<55,x<250,<1,x>61
4984,div/dep/mar,female,all paid,other,<100,co applicant,car,stores,own,unemp/unskilled non res,...,good,x<1,x>3,x<1,x<1,<0,38<x<55,250<x<4793,unemployed,x<19
4985,div/sep,male,existing paid,business,500<=X<1000,co applicant,real estate,stores,rent,high qualif/self emp/mgmt,...,good,1<x<2,x<1,1<x<2,x<1,>=200,x<4,4793<x<9337,<1,x<19
4986,div/sep,female,no credits/all paid,domestic appliance,100<=X<500,none,real estate,stores,own,unemp/unskilled non res,...,good,x<1,x>3,x<1,x<1,>=200,x>55,9337<x<13880,1<=X<4,19<x<33
4987,div/dep/mar,female,all paid,other,500<=X<1000,none,no known property,bank,rent,high qualif/self emp/mgmt,...,good,1<x<2,1<x<2,1<x<2,x>1,<0,21<x<38,250<x<4793,4<=X<7,x<19
4988,div/sep,female,no credits/all paid,used car,100<=X<500,guarantor,life insurance,bank,for free,high qualif/self emp/mgmt,...,good,x<1,x<1,x<1,x>1,<0,x<4,250<x<4793,>=7,x>61
4989,div/dep/mar,female,delayed previously,domestic appliance,100<=X<500,co applicant,no known property,none,rent,unskilled resident,...,good,x>3,1<x<2,x>3,x<1,0<=X<200,x>55,x<250,4<=X<7,33<x<47
4990,div/sep,female,no credits/all paid,domestic appliance,100<=X<500,co applicant,no known property,stores,for free,high qualif/self emp/mgmt,...,bad,1<x<2,x>3,x>3,x>1,no checking,21<x<38,x<250,1<=X<4,x<19
4991,mar/wid,male,all paid,furniture/equipment,<100,co applicant,life insurance,stores,own,high qualif/self emp/mgmt,...,good,1<x<2,x<1,2<x<3,x<1,<0,38<x<55,x<250,unemployed,x<19
4992,mar/wid,female,existing paid,furniture/equipment,no known savings,co applicant,life insurance,none,rent,skilled,...,bad,x>3,x>3,2<x<3,x<1,0<=X<200,4<x<21,4793<x<9337,>=7,47<x<61
4993,single,female,no credits/all paid,radio/tv,500<=X<1000,guarantor,no known property,none,for free,skilled,...,good,x<1,1<x<2,1<x<2,x>1,0<=X<200,x<4,x>13880,4<=X<7,19<x<33
4994,div/dep/mar,male,critical/other existing credit,radio/tv,500<=X<1000,guarantor,life insurance,none,own,high qualif/self emp/mgmt,...,bad,x<1,x<1,x>3,x>1,0<=X<200,38<x<55,x<250,>=7,x>61
4995,mar/wid,female,existing paid,domestic appliance,<100,none,real estate,bank,own,skilled,...,good,2<x<3,1<x<2,2<x<3,x>1,<0,4<x<21,9337<x<13880,4<=X<7,33<x<47
4996,mar/wid,female,critical/other existing credit,furniture/equipment,no known savings,co applicant,life insurance,bank,for free,high qualif/self emp/mgmt,...,bad,1<x<2,x>3,2<x<3,x>1,>=200,x<4,4793<x<9337,1<=X<4,x<19
4997,mar/wid,female,delayed previously,used car,no known savings,none,no known property,none,own,unskilled resident,...,bad,x<1,2<x<3,1<x<2,x>1,>=200,38<x<55,4793<x<9337,unemployed,19<x<33
4998,div/dep/mar,male,critical/other existing credit,radio/tv,<100,guarantor,life insurance,bank,own,skilled,...,bad,2<x<3,2<x<3,1<x<2,x<1,0<=X<200,x>55,250<x<4793,1<=X<4,x<19
4999,mar/wid,female,delayed previously,repairs,<100,none,car,none,rent,unemp/unskilled non res,...,good,2<x<3,x>3,x<1,x<1,>=200,4<x<21,9337<x<13880,1<=X<4,47<x<61

In [7]:

from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier

class DataEncoder(object):


    def __init__(self, class_column='class', cat_columns=None):
        self.class_column = class_column
        self.cat_columns = cat_columns

        # these will be trained with fit_encoders()
        self.column_encoders = {} # label encoder
        self.cat_encoder = None # one-hot encoder
        self.label_encoder = None # label encoder

    def fit(self, data):
        """
        Fit one-hot encoders for categorical features and an integer encoder for
        the label. These can be used later to transform raw data into a form
        that ATM can work with.

        data: pd.DataFrame of unprocessed data
        """
        if self.class_column not in data.columns:
            raise KeyError('Class column "%s" not found in dataset!' %
                           self.class_column)
            
        range_col = find_range_cols(data)
                
        self.range_col = range_col
            

        # encode categorical columns, leave ordinal values alone
        if self.cat_columns is None:
            cats = data.drop([self.class_column]+range_col, axis=1).select_dtypes(exclude=['int64'])
            self.cat_columns = cats.columns
        else:
            cats = data[self.cat_columns].drop(range_col, axis=1).select_dtypes(exclude=['int64'])
            
        self.cat_cols = cats.columns
        
        for cat_name in cats.columns:   
        # save the indices of categorical columns for one-hot encoding

            # encode each feature as an integer in range(unique_vals)
            le = LabelEncoder()
            cats[cat_name] = le.fit_transform(cats[cat_name])
            self.column_encoders[cat_name] = le

        # One-hot encode the whole feature matrix.
        # Set sparse to False so that we can test for NaNs in the output
        self.cat_encoder = OneHotEncoder(sparse=False)
        self.cat_encoder.fit(cats)

        # Train an encoder for the label as well
        labels = np.array(data[[self.class_column]])
        self.label_encoder = LabelEncoder()
        self.label_encoder.fit(labels)
        

    def transform(self, data):
        """
        Convert a DataFrame of labeled data to a feature matrix in the form
        that ATM can use.
        """
        y = self.transform_y(data)
        X = self.transform_x(data)

        return X, y
    
    def transform_x(self, data):
        """
        only transform x, for the generated data
        """
        cats = data[self.cat_columns]

        # encode each categorical feature as an integer
        for column, encoder in list(self.column_encoders.items()):
            cats[column] = encoder.transform(cats[column])

        # one-hot encode the categorical features
        X = self.cat_encoder.transform(cats)
        
        if self.class_column in data:
            nums = data.drop([self.class_column], axis=1).select_dtypes(include=['int64']).values
        else:
            nums = data.select_dtypes(include=['int64']).values
        # transform range cols into integrate. e.g., <4 -> 1; 4<x<7 -> 2
        ranges = []
        for col in self.range_col:
            values = data[col]
            ranges.append( self.range2int(values) )
        if(ranges==[]):
            X = np.concatenate((X, nums), axis=1)
        else:
            ranges = np.transpose( np.array(ranges) )
            X = np.concatenate((X, nums, ranges), axis=1)
        
        return X
    
    def transform_y(self, data):
        if self.class_column in data:
            # pull labels into a separate series and transform them to integers
            labels = np.array(data[[self.class_column]])
            y = self.label_encoder.transform(labels)
            # drop the label column and transform the remaining features
        else:
            y = None
            
        return y
    
    def range2int(self, values):
        ranges = []
        for v in values:
            if v not in ranges:
                ranges.append(v)
        
        def sort_key(x):
            num_strings = re.findall('\d+', x)
            # 'undefined' is in the front
            if len(num_strings)==0:
                return -1
            # x> 1, x<7
            elif len(num_strings)==1:
                return int(num_strings[0])*2
            # 1<x<7
            else:
                nums = map(int, num_strings) # string to number
                return sum(nums)
                
        ranges.sort(key=sort_key)
        return list(map(lambda x: ranges.index(x), values))
        
        
    
    def fit_transform(self, data):
        """ Process data into a form that ATM can use. """
        self.fit(data)
        return self.transform(data)
    

knn = KNeighborsClassifier(
                algorithm = "ball_tree",
                leaf_size = 40,
                metric = "manhattan",
                n_neighbors = 17
            )
    
encoder = DataEncoder()
encoder.fit(new_samples)
x_train, y_train = encoder.transform(new_samples)
knn.fit(x_train,y_train)
score = cross_val_score(knn, x_train, y_train, scoring='accuracy', cv=10) 
data

c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,marriage,gender,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,single,male,<0,4<x<21,critical/other existing credit,radio/tv,250<x<4793,no known savings,>=7,4,...,real estate,x>61,none,own,2,skilled,1,yes,yes,good
1,div/dep/mar,female,0<=X<200,38<x<55,existing paid,radio/tv,4793<x<9337,<100,1<=X<4,2,...,real estate,19<x<33,none,own,1,skilled,1,none,yes,bad
2,single,male,no checking,4<x<21,critical/other existing credit,education,250<x<4793,<100,4<=X<7,2,...,real estate,47<x<61,none,own,1,unskilled resident,2,none,yes,good
3,single,male,<0,38<x<55,existing paid,furniture/equipment,4793<x<9337,<100,4<=X<7,2,...,life insurance,33<x<47,none,for free,1,skilled,2,none,yes,good
4,single,male,<0,21<x<38,delayed previously,new car,4793<x<9337,<100,1<=X<4,3,...,no known property,47<x<61,none,for free,2,skilled,2,none,yes,bad
5,single,male,no checking,21<x<38,existing paid,education,4793<x<9337,no known savings,1<=X<4,2,...,no known property,33<x<47,none,for free,1,unskilled resident,2,yes,yes,good
6,single,male,no checking,21<x<38,existing paid,furniture/equipment,250<x<4793,500<=X<1000,>=7,3,...,life insurance,47<x<61,none,own,1,skilled,1,none,yes,good
7,single,male,0<=X<200,21<x<38,existing paid,used car,4793<x<9337,<100,1<=X<4,2,...,car,33<x<47,none,rent,1,high qualif/self emp/mgmt,1,yes,yes,good
8,div/sep,male,no checking,4<x<21,existing paid,radio/tv,250<x<4793,>=1000,4<=X<7,2,...,real estate,47<x<61,none,own,1,unskilled resident,1,none,yes,good
9,mar/wid,male,0<=X<200,21<x<38,critical/other existing credit,new car,4793<x<9337,<100,unemployed,4,...,car,19<x<33,none,own,2,high qualif/self emp/mgmt,1,none,yes,bad
10,div/dep/mar,female,0<=X<200,4<x<21,existing paid,new car,250<x<4793,<100,<1,3,...,car,19<x<33,none,rent,1,skilled,1,none,yes,bad
11,div/dep/mar,female,<0,38<x<55,existing paid,business,250<x<4793,<100,<1,3,...,life insurance,19<x<33,none,rent,1,skilled,1,none,yes,bad
12,div/dep/mar,female,0<=X<200,4<x<21,existing paid,radio/tv,250<x<4793,<100,1<=X<4,1,...,car,19<x<33,none,own,1,skilled,1,yes,yes,good
13,single,male,<0,21<x<38,critical/other existing credit,new car,250<x<4793,<100,>=7,4,...,car,47<x<61,none,own,2,unskilled resident,1,none,yes,bad
14,div/dep/mar,female,<0,4<x<21,existing paid,new car,250<x<4793,<100,1<=X<4,2,...,car,19<x<33,none,rent,1,skilled,1,none,yes,good
15,div/dep/mar,female,<0,21<x<38,existing paid,radio/tv,250<x<4793,100<=X<500,1<=X<4,4,...,car,19<x<33,none,own,1,unskilled resident,1,none,yes,bad
16,single,male,no checking,21<x<38,critical/other existing credit,radio/tv,250<x<4793,no known savings,>=7,4,...,life insurance,47<x<61,none,own,2,skilled,1,none,yes,good
17,single,male,<0,21<x<38,no credits/all paid,business,4793<x<9337,no known savings,<1,2,...,car,19<x<33,bank,own,3,skilled,1,none,yes,good
18,div/dep/mar,female,0<=X<200,21<x<38,existing paid,used car,9337<x<13880,<100,>=7,4,...,no known property,33<x<47,none,for free,1,high qualif/self emp/mgmt,1,yes,yes,bad
19,single,male,no checking,21<x<38,existing paid,radio/tv,250<x<4793,500<=X<1000,>=7,3,...,car,19<x<33,none,own,1,skilled,2,yes,yes,good
20,single,male,no checking,4<x<21,critical/other existing credit,new car,250<x<4793,<100,1<=X<4,4,...,car,47<x<61,none,own,3,skilled,1,yes,yes,good
21,single,male,<0,4<x<21,existing paid,radio/tv,250<x<4793,500<=X<1000,1<=X<4,2,...,real estate,33<x<47,none,rent,1,skilled,2,none,yes,good
22,single,male,<0,4<x<21,critical/other existing credit,new car,250<x<4793,<100,<1,1,...,real estate,47<x<61,none,rent,2,unskilled resident,2,none,no,good
23,single,male,0<=X<200,4<x<21,critical/other existing credit,used car,250<x<4793,100<=X<500,<1,3,...,life insurance,33<x<47,none,own,1,skilled,1,none,yes,good
24,mar/wid,male,no checking,4<x<21,critical/other existing credit,furniture/equipment,250<x<4793,no known savings,1<=X<4,2,...,car,19<x<33,none,own,2,skilled,1,none,no,good
25,single,male,<0,4<x<21,existing paid,furniture/equipment,250<x<4793,<100,1<=X<4,1,...,real estate,33<x<47,bank,own,1,unskilled resident,1,yes,yes,good
26,mar/wid,male,no checking,4<x<21,no credits/all paid,radio/tv,250<x<4793,<100,>=7,4,...,car,33<x<47,none,own,1,unskilled resident,1,none,yes,good
27,div/dep/mar,female,>=200,4<x<21,all paid,radio/tv,250<x<4793,>=1000,1<=X<4,3,...,real estate,33<x<47,none,rent,2,skilled,1,none,yes,good
28,single,male,0<=X<200,4<x<21,existing paid,radio/tv,250<x<4793,<100,1<=X<4,3,...,real estate,33<x<47,none,own,1,skilled,1,none,yes,good
29,single,male,<0,x>55,delayed previously,business,4793<x<9337,<100,>=7,3,...,no known property,x>61,none,own,2,skilled,1,yes,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,single,male,0<=X<200,4<x<21,existing paid,repairs,250<x<4793,100<=X<500,1<=X<4,4,...,real estate,19<x<33,none,own,1,skilled,1,none,yes,good
971,single,male,no checking,21<x<38,existing paid,new car,4793<x<9337,<100,1<=X<4,1,...,life insurance,33<x<47,none,own,1,unskilled resident,2,none,yes,good
972,div/dep/mar,female,<0,21<x<38,all paid,new car,250<x<4793,<100,unemployed,1,...,no known property,19<x<33,none,rent,2,unemp/unskilled non res,1,none,yes,bad
973,single,male,<0,x>55,existing paid,business,4793<x<9337,<100,>=7,4,...,no known property,33<x<47,none,rent,1,skilled,1,none,yes,bad
974,div/dep/mar,female,no checking,21<x<38,critical/other existing credit,radio/tv,250<x<4793,<100,1<=X<4,4,...,car,19<x<33,none,own,1,skilled,1,yes,yes,good
975,div/dep/mar,female,>=200,21<x<38,existing paid,radio/tv,250<x<4793,500<=X<1000,1<=X<4,3,...,car,47<x<61,none,own,1,unskilled resident,1,none,yes,good
976,div/dep/mar,female,0<=X<200,4<x<21,existing paid,radio/tv,250<x<4793,<100,1<=X<4,2,...,real estate,x>61,none,own,1,skilled,1,none,yes,good
977,single,male,0<=X<200,4<x<21,delayed previously,business,250<x<4793,no known savings,>=7,4,...,life insurance,33<x<47,none,own,2,skilled,1,none,yes,good
978,single,male,no checking,21<x<38,delayed previously,new car,250<x<4793,<100,>=7,4,...,car,33<x<47,none,own,2,unskilled resident,2,none,yes,bad
979,mar/wid,male,0<=X<200,4<x<21,all paid,new car,250<x<4793,100<=X<500,1<=X<4,2,...,life insurance,19<x<33,none,rent,1,skilled,1,none,yes,bad
980,single,male,0<=X<200,21<x<38,critical/other existing credit,furniture/equipment,4793<x<9337,<100,4<=X<7,2,...,life insurance,47<x<61,none,own,1,skilled,1,none,yes,bad
981,single,male,no checking,38<x<55,existing paid,business,4793<x<9337,<100,unemployed,3,...,car,19<x<33,bank,rent,1,high qualif/self emp/mgmt,1,yes,yes,bad
982,div/dep/mar,female,>=200,4<x<21,existing paid,new car,250<x<4793,100<=X<500,1<=X<4,1,...,car,19<x<33,bank,own,1,high qualif/self emp/mgmt,1,yes,yes,good
983,single,male,<0,21<x<38,existing paid,used car,4793<x<9337,<100,1<=X<4,2,...,life insurance,19<x<33,none,own,1,skilled,2,none,yes,bad
984,single,male,no checking,21<x<38,critical/other existing credit,furniture/equipment,250<x<4793,<100,4<=X<7,2,...,life insurance,19<x<33,none,own,2,unskilled resident,1,none,yes,good
985,div/dep/mar,female,<0,4<x<21,critical/other existing credit,furniture/equipment,250<x<4793,<100,1<=X<4,4,...,life insurance,19<x<33,none,rent,2,skilled,1,none,yes,good
986,div/sep,male,>=200,38<x<55,no credits/all paid,business,4793<x<9337,<100,<1,2,...,life insurance,19<x<33,none,own,2,skilled,1,none,yes,good
987,div/dep/mar,female,no checking,4<x<21,existing paid,radio/tv,250<x<4793,100<=X<500,unemployed,2,...,real estate,x>61,none,own,1,skilled,1,none,yes,good
988,single,male,<0,21<x<38,existing paid,used car,4793<x<9337,<100,unemployed,4,...,no known property,19<x<33,none,for free,1,high qualif/self emp/mgmt,1,yes,yes,good
989,single,male,0<=X<200,21<x<38,critical/other existing credit,radio/tv,250<x<4793,<100,>=7,4,...,life insurance,47<x<61,none,own,2,unskilled resident,1,none,yes,good
990,single,male,no checking,4<x<21,critical/other existing credit,education,250<x<4793,no known savings,<1,2,...,life insurance,33<x<47,none,own,2,unskilled resident,2,none,yes,good
991,single,male,no checking,4<x<21,all paid,radio/tv,250<x<4793,100<=X<500,>=7,4,...,car,33<x<47,bank,own,1,unskilled resident,2,none,yes,good
992,mar/wid,male,<0,4<x<21,existing paid,radio/tv,250<x<4793,no known savings,4<=X<7,2,...,car,19<x<33,none,rent,2,unskilled resident,1,none,yes,good
993,single,male,<0,21<x<38,existing paid,furniture/equipment,250<x<4793,<100,unemployed,4,...,life insurance,19<x<33,none,own,1,high qualif/self emp/mgmt,1,yes,yes,good
994,single,male,no checking,4<x<21,existing paid,new car,250<x<4793,no known savings,>=7,4,...,car,47<x<61,none,own,1,skilled,1,yes,yes,good
995,div/dep/mar,female,no checking,4<x<21,existing paid,furniture/equipment,250<x<4793,<100,4<=X<7,3,...,real estate,19<x<33,none,own,1,unskilled resident,1,none,yes,good
996,div/sep,male,<0,21<x<38,existing paid,used car,250<x<4793,<100,1<=X<4,4,...,life insurance,33<x<47,none,own,1,high qualif/self emp/mgmt,1,yes,yes,good
997,single,male,no checking,4<x<21,existing paid,radio/tv,250<x<4793,<100,>=7,4,...,car,33<x<47,none,own,1,skilled,1,none,yes,good
998,single,male,<0,38<x<55,existing paid,radio/tv,250<x<4793,<100,1<=X<4,4,...,no known property,19<x<33,none,for free,1,skilled,1,yes,yes,bad
999,single,male,0<=X<200,38<x<55,critical/other existing credit,used car,250<x<4793,100<=X<500,unemployed,3,...,car,19<x<33,none,own,1,skilled,1,none,yes,good

In [8]:
def generate_model_samples(data, sample_num, model, encoder):
    """
    models behavior on generated sample data:
    Args:
        data(pandas DataFrame): training data
        sample_num(int): 
        model(sklearn model object): already trained model
        encoder(instance of DataGene): instance of DataGene, already fit 
    Return:
        model_samples(pandas DataFrame): generated samples + model prected labels
    """
    dataGene = DataGene(data, sample_num)
    new_samples = dataGene.get_samples()
    samplesInit = new_samples
    print(samplesInit)
    samples = num2cate(samplesInit)
    print(samplesInit)
    # model predict
    #print(samples)
    x_samples, _ = encoder.transform(samples)
    #print(x_samples.size)
    y_samples = knn.predict(x_samples)
    
    #  concate 
    model_samples = samples.copy()
    model_samples['class'] = pd.Series(np.asarray(y_samples), index= samples.index) 

    return model_samples, samplesInit

x,y = generate_model_samples(data,sample_number ,knn, encoder)
y

Index(['installment_commitment', 'residence_since', 'existing_credits',
       'num_dependents'],
      dtype='object')
         marriage  gender                  credit_history  \
0         div/sep  female                        all paid
1         div/sep  female              delayed previously
2         div/sep    male             no credits/all paid
3     div/dep/mar    male              delayed previously
4          single    male                        all paid
5          single  female  critical/other existing credit
6          single    male                        all paid
7         div/sep    male                   existing paid
8         mar/wid    male                   existing paid
9          single  female  critical/other existing credit
10         single    male                   existing paid
11    div/dep/mar    male                   existing paid
12    div/dep/mar  female                   existing paid
13        div/sep  female              delayed previously
14        div/sep    male              delayed previously
15         single  female                   existing paid
16         single  female  critical/other existing credit
17        mar/wid    male              delayed previously
18         single  female                   existing paid
19        mar/wid    male              delayed previously
20    div/dep/mar    male                   existing paid
21        mar/wid    male                        all paid
22        div/sep    male  critical/other existing credit
23        mar/wid    male  critical/other existing credit
24        mar/wid  female             no credits/all paid
25        mar/wid  female             no credits/all paid
26    div/dep/mar  female  critical/other existing credit
27        mar/wid  female             no credits/all paid
28        div/sep    male                        all paid
29        mar/wid  female                        all paid
...           ...     ...                             ...
4970  div/dep/mar    male  critical/other existing credit
4971      mar/wid  female                   existing paid
4972       single  female                        all paid
4973      div/sep    male                        all paid
4974  div/dep/mar    male  critical/other existing credit
4975      mar/wid    male             no credits/all paid
4976  div/dep/mar  female  critical/other existing credit
4977  div/dep/mar  female                   existing paid
4978      div/sep    male                        all paid
4979      div/sep    male             no credits/all paid
4980  div/dep/mar    male                        all paid
4981      div/sep  female                        all paid
4982      mar/wid  female                   existing paid
4983       single  female  critical/other existing credit
4984      div/sep  female                   existing paid
4985  div/dep/mar  female  critical/other existing credit
4986       single  female                   existing paid
4987      mar/wid  female                   existing paid
4988      div/sep  female             no credits/all paid
4989      div/sep  female                   existing paid
4990       single    male              delayed previously
4991       single  female                        all paid
4992      mar/wid  female  critical/other existing credit
4993      div/sep    male  critical/other existing credit
4994  div/dep/mar  female                        all paid
4995       single  female  critical/other existing credit
4996      mar/wid    male              delayed previously
4997       single  female             no credits/all paid
4998      div/sep    male  critical/other existing credit
4999      div/sep    male              delayed previously

                  purpose    savings_status other_parties property_magnitude  \
0                 repairs            >=1000     guarantor                car
1                radio/tv        100<=X<500     guarantor  no known property
2      domestic appliance       500<=X<1000     guarantor  no known property
3                used car        100<=X<500          none     life insurance
4     furniture/equipment       500<=X<1000          none                car
5              retraining  no known savings     guarantor     life insurance
6     furniture/equipment            >=1000  co applicant        real estate
7                radio/tv        100<=X<500     guarantor  no known property
8                used car  no known savings          none     life insurance
9                 repairs              <100  co applicant        real estate
10     domestic appliance  no known savings     guarantor                car
11                new car       500<=X<1000          none  no known property
12               business        100<=X<500     guarantor        real estate
13     domestic appliance        100<=X<500     guarantor        real estate
14     domestic appliance  no known savings  co applicant        real estate
15    furniture/equipment       500<=X<1000          none                car
16    furniture/equipment        100<=X<500          none        real estate
17              education  no known savings  co applicant        real estate
18    furniture/equipment            >=1000          none  no known property
19                  other              <100  co applicant     life insurance
20                repairs  no known savings     guarantor                car
21               used car            >=1000          none        real estate
22               business        100<=X<500     guarantor        real estate
23                repairs        100<=X<500     guarantor     life insurance
24              education       500<=X<1000  co applicant        real estate
25     domestic appliance              <100     guarantor  no known property
26                new car       500<=X<1000     guarantor        real estate
27                repairs       500<=X<1000  co applicant     life insurance
28              education       500<=X<1000          none     life insurance
29               business            >=1000     guarantor     life insurance
...                   ...               ...           ...                ...
4970                other        100<=X<500  co applicant  no known property
4971            education  no known savings     guarantor        real estate
4972            education              <100          none  no known property
4973             radio/tv              <100          none  no known property
4974   domestic appliance              <100          none                car
4975   domestic appliance        100<=X<500          none                car
4976              new car       500<=X<1000  co applicant  no known property
4977  furniture/equipment              <100          none                car
4978              repairs              <100  co applicant  no known property
4979   domestic appliance       500<=X<1000          none                car
4980                other  no known savings          none  no known property
4981             business            >=1000     guarantor     life insurance
4982              repairs       500<=X<1000  co applicant        real estate
4983            education        100<=X<500     guarantor     life insurance
4984              repairs  no known savings  co applicant     life insurance
4985  furniture/equipment        100<=X<500     guarantor                car
4986             radio/tv              <100     guarantor  no known property
4987             radio/tv        100<=X<500  co applicant     life insurance
4988           retraining  no known savings  co applicant  no known property
4989                other              <100          none                car
4990             radio/tv            >=1000  co applicant  no known property
4991              new car            >=1000          none                car
4992             used car            >=1000     guarantor  no known property
4993             radio/tv       500<=X<1000          none        real estate
4994              new car       500<=X<1000     guarantor                car
4995             radio/tv        100<=X<500  co applicant        real estate
4996                other  no known savings  co applicant  no known property
4997             business       500<=X<1000     guarantor  no known property
4998  furniture/equipment            >=1000  co applicant     life insurance
4999           retraining        100<=X<500  co applicant  no known property

     other_payment_plans   housing                        job   ...    class  \
0                   none       own    unemp/unskilled non res   ...      bad
1                   none  for free    unemp/unskilled non res   ...      bad
2                   none  for free    unemp/unskilled non res   ...     good
3                 stores      rent         unskilled resident   ...     good
4                   none       own         unskilled resident   ...     good
5                   bank      rent    unemp/unskilled non res   ...     good
6                 stores      rent         unskilled resident   ...      bad
7                   none      rent         unskilled resident   ...     good
8                   none      rent                    skilled   ...      bad
9                 stores       own                    skilled   ...      bad
10                  none      rent         unskilled resident   ...      bad
11                  none      rent    unemp/unskilled non res   ...     good
12                  bank      rent  high qualif/self emp/mgmt   ...     good
13                stores       own         unskilled resident   ...     good
14                  bank      rent    unemp/unskilled non res   ...     good
15                stores      rent         unskilled resident   ...     good
16                stores      rent    unemp/unskilled non res   ...      bad
17                  bank       own    unemp/unskilled non res   ...      bad
18                  none      rent  high qualif/self emp/mgmt   ...     good
19                  bank  for free                    skilled   ...      bad
20                stores       own  high qualif/self emp/mgmt   ...      bad
21                  none  for free    unemp/unskilled non res   ...     good
22                  bank  for free         unskilled resident   ...     good
23                  bank       own         unskilled resident   ...      bad
24                stores       own         unskilled resident   ...      bad
25                  none       own  high qualif/self emp/mgmt   ...     good
26                  bank       own  high qualif/self emp/mgmt   ...     good
27                stores       own         unskilled resident   ...     good
28                  none      rent                    skilled   ...      bad
29                  none  for free  high qualif/self emp/mgmt   ...     good
...                  ...       ...                        ...   ...      ...
4970                none      rent    unemp/unskilled non res   ...      bad
4971                none       own    unemp/unskilled non res   ...      bad
4972                bank      rent                    skilled   ...     good
4973                bank  for free    unemp/unskilled non res   ...     good
4974                none       own    unemp/unskilled non res   ...      bad
4975                none  for free                    skilled   ...      bad
4976                bank  for free  high qualif/self emp/mgmt   ...     good
4977                none       own         unskilled resident   ...     good
4978                bank      rent         unskilled resident   ...      bad
4979                bank       own    unemp/unskilled non res   ...      bad
4980                bank       own  high qualif/self emp/mgmt   ...      bad
4981              stores       own                    skilled   ...     good
4982              stores  for free         unskilled resident   ...      bad
4983                none  for free                    skilled   ...     good
4984                bank       own                    skilled   ...     good
4985                bank      rent    unemp/unskilled non res   ...     good
4986                none       own  high qualif/self emp/mgmt   ...     good
4987                none       own         unskilled resident   ...     good
4988                bank  for free  high qualif/self emp/mgmt   ...     good
4989                none       own                    skilled   ...     good
4990              stores  for free                    skilled   ...      bad
4991                none       own  high qualif/self emp/mgmt   ...      bad
4992                bank      rent    unemp/unskilled non res   ...      bad
4993              stores      rent    unemp/unskilled non res   ...      bad
4994                none      rent  high qualif/self emp/mgmt   ...      bad
4995              stores       own  high qualif/self emp/mgmt   ...      bad
4996              stores      rent    unemp/unskilled non res   ...     good
4997              stores      rent  high qualif/self emp/mgmt   ...      bad
4998                bank       own                    skilled   ...      bad
4999                none  for free         unskilled resident   ...      bad

     installment_commitment residence_since  existing_credits  num_dependents  \
0                         4               2                 3               2
1                         2               2                 1               2
2                         1               1                 4               1
3                         3               1                 2               1
4                         2               1                 2               1
5                         1               3                 4               2
6                         1               3                 2               2
7                         3               3                 1               2
8                         1               4                 1               1
9                         4               1                 2               1
10                        4               3                 4               2
11                        1               4                 1               2
12                        4               1                 4               2
13                        4               3                 2               1
14                        4               1                 2               1
15                        2               1                 4               2
16                        2               4                 3               2
17                        1               4                 1               2
18                        2               1                 2               1
19                        3               1                 4               1
20                        3               4                 4               1
21                        3               3                 1               1
22                        4               4                 4               2
23                        4               1                 2               1
24                        4               2                 2               2
25                        2               3                 1               2
26                        1               3                 3               1
27                        1               2                 1               2
28                        2               3                 1               2
29                        3               1                 2               2
...                     ...             ...               ...             ...
4970                      1               1                 1               2
4971                      3               4                 1               2
4972                      3               4                 1               2
4973                      1               4                 3               2
4974                      3               3                 2               1
4975                      2               3                 1               1
4976                      3               2                 4               2
4977                      1               4                 1               1
4978                      4               2                 3               2
4979                      2               3                 3               2
4980                      4               1                 2               2
4981                      4               3                 1               2
4982                      3               1                 3               1
4983                      2               4                 3               1
4984                      4               2                 3               1
4985                      1               2                 1               1
4986                      2               4                 4               1
4987                      1               1                 1               2
4988                      1               4                 4               2
4989                      1               2                 1               1
4990                      2               2                 1               2
4991                      4               1                 1               2
4992                      4               1                 3               2
4993                      1               2                 4               2
4994                      1               2                 2               1
4995                      3               3                 3               1
4996                      1               2                 1               1
4997                      1               2                 4               1
4998                      3               1                 2               2
4999                      3               1                 2               2

      checking_status  duration credit_amount  employment      age
0         no checking       x<4         x<250      1<=X<4     x<19
1                  <0   38<x<55       x>13880         >=7  19<x<33
2                  <0   38<x<55  9337<x<13880      4<=X<7  33<x<47
3                  <0      x>55    250<x<4793          <1  33<x<47
4            0<=X<200       x<4   4793<x<9337      4<=X<7     x>61
5                  <0   21<x<38    250<x<4793          <1  33<x<47
6                  <0    4<x<21         x<250      1<=X<4  33<x<47
7         no checking    4<x<21       x>13880  unemployed  33<x<47
8                  <0       x<4  9337<x<13880          <1  19<x<33
9            0<=X<200   38<x<55       x>13880      4<=X<7     x<19
10           0<=X<200   21<x<38    250<x<4793      4<=X<7  47<x<61
11        no checking   38<x<55         x<250      4<=X<7     x<19
12              >=200   21<x<38         x<250          <1  33<x<47
13                 <0    4<x<21  9337<x<13880  unemployed  19<x<33
14           0<=X<200      x>55    250<x<4793      4<=X<7  33<x<47
15              >=200   21<x<38   4793<x<9337      1<=X<4     x>61
16                 <0       x<4       x>13880         >=7     x>61
17        no checking    4<x<21         x<250         >=7     x<19
18           0<=X<200   21<x<38   4793<x<9337          <1  47<x<61
19              >=200       x<4  9337<x<13880      1<=X<4  33<x<47
20        no checking      x>55       x>13880          <1  19<x<33
21              >=200    4<x<21    250<x<4793      4<=X<7  47<x<61
22           0<=X<200      x>55   4793<x<9337  unemployed     x>61
23        no checking    4<x<21       x>13880      1<=X<4     x<19
24           0<=X<200   38<x<55   4793<x<9337  unemployed     x<19
25           0<=X<200   38<x<55    250<x<4793      1<=X<4  33<x<47
26        no checking      x>55  9337<x<13880      4<=X<7  47<x<61

c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,marriage,gender,credit_history,purpose,savings_status,other_parties,property_magnitude,other_payment_plans,housing,job,...,class,installment_commitment,residence_since,existing_credits,num_dependents,checking_status,duration,credit_amount,employment,age
0,div/sep,female,all paid,repairs,>=1000,guarantor,car,none,own,unemp/unskilled non res,...,bad,4,2,3,2,no checking,x<4,x<250,1<=X<4,x<19
1,div/sep,female,delayed previously,radio/tv,100<=X<500,guarantor,no known property,none,for free,unemp/unskilled non res,...,bad,2,2,1,2,<0,38<x<55,x>13880,>=7,19<x<33
2,div/sep,male,no credits/all paid,domestic appliance,500<=X<1000,guarantor,no known property,none,for free,unemp/unskilled non res,...,good,1,1,4,1,<0,38<x<55,9337<x<13880,4<=X<7,33<x<47
3,div/dep/mar,male,delayed previously,used car,100<=X<500,none,life insurance,stores,rent,unskilled resident,...,good,3,1,2,1,<0,x>55,250<x<4793,<1,33<x<47
4,single,male,all paid,furniture/equipment,500<=X<1000,none,car,none,own,unskilled resident,...,good,2,1,2,1,0<=X<200,x<4,4793<x<9337,4<=X<7,x>61
5,single,female,critical/other existing credit,retraining,no known savings,guarantor,life insurance,bank,rent,unemp/unskilled non res,...,good,1,3,4,2,<0,21<x<38,250<x<4793,<1,33<x<47
6,single,male,all paid,furniture/equipment,>=1000,co applicant,real estate,stores,rent,unskilled resident,...,bad,1,3,2,2,<0,4<x<21,x<250,1<=X<4,33<x<47
7,div/sep,male,existing paid,radio/tv,100<=X<500,guarantor,no known property,none,rent,unskilled resident,...,good,3,3,1,2,no checking,4<x<21,x>13880,unemployed,33<x<47
8,mar/wid,male,existing paid,used car,no known savings,none,life insurance,none,rent,skilled,...,bad,1,4,1,1,<0,x<4,9337<x<13880,<1,19<x<33
9,single,female,critical/other existing credit,repairs,<100,co applicant,real estate,stores,own,skilled,...,bad,4,1,2,1,0<=X<200,38<x<55,x>13880,4<=X<7,x<19
10,single,male,existing paid,domestic appliance,no known savings,guarantor,car,none,rent,unskilled resident,...,bad,4,3,4,2,0<=X<200,21<x<38,250<x<4793,4<=X<7,47<x<61
11,div/dep/mar,male,existing paid,new car,500<=X<1000,none,no known property,none,rent,unemp/unskilled non res,...,good,1,4,1,2,no checking,38<x<55,x<250,4<=X<7,x<19
12,div/dep/mar,female,existing paid,business,100<=X<500,guarantor,real estate,bank,rent,high qualif/self emp/mgmt,...,good,4,1,4,2,>=200,21<x<38,x<250,<1,33<x<47
13,div/sep,female,delayed previously,domestic appliance,100<=X<500,guarantor,real estate,stores,own,unskilled resident,...,good,4,3,2,1,<0,4<x<21,9337<x<13880,unemployed,19<x<33
14,div/sep,male,delayed previously,domestic appliance,no known savings,co applicant,real estate,bank,rent,unemp/unskilled non res,...,good,4,1,2,1,0<=X<200,x>55,250<x<4793,4<=X<7,33<x<47
15,single,female,existing paid,furniture/equipment,500<=X<1000,none,car,stores,rent,unskilled resident,...,good,2,1,4,2,>=200,21<x<38,4793<x<9337,1<=X<4,x>61
16,single,female,critical/other existing credit,furniture/equipment,100<=X<500,none,real estate,stores,rent,unemp/unskilled non res,...,bad,2,4,3,2,<0,x<4,x>13880,>=7,x>61
17,mar/wid,male,delayed previously,education,no known savings,co applicant,real estate,bank,own,unemp/unskilled non res,...,bad,1,4,1,2,no checking,4<x<21,x<250,>=7,x<19
18,single,female,existing paid,furniture/equipment,>=1000,none,no known property,none,rent,high qualif/self emp/mgmt,...,good,2,1,2,1,0<=X<200,21<x<38,4793<x<9337,<1,47<x<61
19,mar/wid,male,delayed previously,other,<100,co applicant,life insurance,bank,for free,skilled,...,bad,3,1,4,1,>=200,x<4,9337<x<13880,1<=X<4,33<x<47
20,div/dep/mar,male,existing paid,repairs,no known savings,guarantor,car,stores,own,high qualif/self emp/mgmt,...,bad,3,4,4,1,no checking,x>55,x>13880,<1,19<x<33
21,mar/wid,male,all paid,used car,>=1000,none,real estate,none,for free,unemp/unskilled non res,...,good,3,3,1,1,>=200,4<x<21,250<x<4793,4<=X<7,47<x<61
22,div/sep,male,critical/other existing credit,business,100<=X<500,guarantor,real estate,bank,for free,unskilled resident,...,good,4,4,4,2,0<=X<200,x>55,4793<x<9337,unemployed,x>61
23,mar/wid,male,critical/other existing credit,repairs,100<=X<500,guarantor,life insurance,bank,own,unskilled resident,...,bad,4,1,2,1,no checking,4<x<21,x>13880,1<=X<4,x<19
24,mar/wid,female,no credits/all paid,education,500<=X<1000,co applicant,real estate,stores,own,unskilled resident,...,bad,4,2,2,2,0<=X<200,38<x<55,4793<x<9337,unemployed,x<19
25,mar/wid,female,no credits/all paid,domestic appliance,<100,guarantor,no known property,none,own,high qualif/self emp/mgmt,...,good,2,3,1,2,0<=X<200,38<x<55,250<x<4793,1<=X<4,33<x<47
26,div/dep/mar,female,critical/other existing credit,new car,500<=X<1000,guarantor,real estate,bank,own,high qualif/self emp/mgmt,...,good,1,3,3,1,no checking,x>55,9337<x<13880,4<=X<7,47<x<61
27,mar/wid,female,no credits/all paid,repairs,500<=X<1000,co applicant,life insurance,stores,own,unskilled resident,...,good,1,2,1,2,<0,x>55,250<x<4793,<1,33<x<47
28,div/sep,male,all paid,education,500<=X<1000,none,life insurance,none,rent,skilled,...,bad,2,3,1,2,0<=X<200,x>55,9337<x<13880,4<=X<7,x<19
29,mar/wid,female,all paid,business,>=1000,guarantor,life insurance,none,for free,high qualif/self emp/mgmt,...,good,3,1,2,2,no checking,x<4,4793<x<9337,unemployed,x>61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,div/dep/mar,male,critical/other existing credit,other,100<=X<500,co applicant,no known property,none,rent,unemp/unskilled non res,...,bad,1,1,1,2,0<=X<200,x>55,250<x<4793,1<=X<4,x<19
4971,mar/wid,female,existing paid,education,no known savings,guarantor,real estate,none,own,unemp/unskilled non res,...,bad,3,4,1,2,>=200,21<x<38,9337<x<13880,unemployed,19<x<33
4972,single,female,all paid,education,<100,none,no known property,bank,rent,skilled,...,good,3,4,1,2,<0,21<x<38,9337<x<13880,1<=X<4,33<x<47
4973,div/sep,male,all paid,radio/tv,<100,none,no known property,bank,for free,unemp/unskilled non res,...,good,1,4,3,2,no checking,4<x<21,250<x<4793,4<=X<7,19<x<33
4974,div/dep/mar,male,critical/other existing credit,domestic appliance,<100,none,car,none,own,unemp/unskilled non res,...,bad,3,3,2,1,0<=X<200,x<4,x<250,4<=X<7,47<x<61
4975,mar/wid,male,no credits/all paid,domestic appliance,100<=X<500,none,car,none,for free,skilled,...,bad,2,3,1,1,>=200,38<x<55,9337<x<13880,<1,19<x<33
4976,div/dep/mar,female,critical/other existing credit,new car,500<=X<1000,co applicant,no known property,bank,for free,high qualif/self emp/mgmt,...,good,3,2,4,2,>=200,21<x<38,9337<x<13880,<1,47<x<61
4977,div/dep/mar,female,existing paid,furniture/equipment,<100,none,car,none,own,unskilled resident,...,good,1,4,1,1,>=200,4<x<21,x>13880,4<=X<7,x<19
4978,div/sep,male,all paid,repairs,<100,co applicant,no known property,bank,rent,unskilled resident,...,bad,4,2,3,2,0<=X<200,4<x<21,9337<x<13880,<1,47<x<61
4979,div/sep,male,no credits/all paid,domestic appliance,500<=X<1000,none,car,bank,own,unemp/unskilled non res,...,bad,2,3,3,2,>=200,4<x<21,4793<x<9337,4<=X<7,x<19
4980,div/dep/mar,male,all paid,other,no known savings,none,no known property,bank,own,high qualif/self emp/mgmt,...,bad,4,1,2,2,no checking,x>55,250<x<4793,<1,33<x<47
4981,div/sep,female,all paid,business,>=1000,guarantor,life insurance,stores,own,skilled,...,good,4,3,1,2,<0,x<4,4793<x<9337,>=7,x<19
4982,mar/wid,female,existing paid,repairs,500<=X<1000,co applicant,real estate,stores,for free,unskilled resident,...,bad,3,1,3,1,0<=X<200,x>55,9337<x<13880,unemployed,33<x<47
4983,single,female,critical/other existing credit,education,100<=X<500,guarantor,life insurance,none,for free,skilled,...,good,2,4,3,1,>=200,x>55,x>13880,unemployed,x<19
4984,div/sep,female,existing paid,repairs,no known savings,co applicant,life insurance,bank,own,skilled,...,good,4,2,3,1,<0,38<x<55,4793<x<9337,<1,x<19
4985,div/dep/mar,female,critical/other existing credit,furniture/equipment,100<=X<500,guarantor,car,bank,rent,unemp/unskilled non res,...,good,1,2,1,1,<0,x>55,x>13880,4<=X<7,19<x<33
4986,single,female,existing paid,radio/tv,<100,guarantor,no known property,none,own,high qualif/self emp/mgmt,...,good,2,4,4,1,<0,21<x<38,x<250,<1,x>61
4987,mar/wid,female,existing paid,radio/tv,100<=X<500,co applicant,life insurance,none,own,unskilled resident,...,good,1,1,1,2,>=200,x<4,4793<x<9337,1<=X<4,x<19
4988,div/sep,female,no credits/all paid,retraining,no known savings,co applicant,no known property,bank,for free,high qualif/self emp/mgmt,...,good,1,4,4,2,no checking,x<4,4793<x<9337,1<=X<4,19<x<33
4989,div/sep,female,existing paid,other,<100,none,car,none,own,skilled,...,good,1,2,1,1,no checking,x>55,x<250,unemployed,33<x<47
4990,single,male,delayed previously,radio/tv,>=1000,co applicant,no known property,stores,for free,skilled,...,bad,2,2,1,2,0<=X<200,4<x<21,250<x<4793,<1,19<x<33
4991,single,female,all paid,new car,>=1000,none,car,none,own,high qualif/self emp/mgmt,...,bad,4,1,1,2,<0,21<x<38,x<250,<1,x>61
4992,mar/wid,female,critical/other existing credit,used car,>=1000,guarantor,no known property,bank,rent,unemp/unskilled non res,...,bad,4,1,3,2,0<=X<200,x>55,250<x<4793,<1,x>61
4993,div/sep,male,critical/other existing credit,radio/tv,500<=X<1000,none,real estate,stores,rent,unemp/unskilled non res,...,bad,1,2,4,2,0<=X<200,x>55,4793<x<9337,>=7,x>61
4994,div/dep/mar,female,all paid,new car,500<=X<1000,guarantor,car,none,rent,high qualif/self emp/mgmt,...,bad,1,2,2,1,<0,21<x<38,x<250,1<=X<4,19<x<33
4995,single,female,critical/other existing credit,radio/tv,100<=X<500,co applicant,real estate,stores,own,high qualif/self emp/mgmt,...,bad,3,3,3,1,<0,38<x<55,4793<x<9337,4<=X<7,x>61
4996,mar/wid,male,delayed previously,other,no known savings,co applicant,no known property,stores,rent,unemp/unskilled non res,...,good,1,2,1,1,<0,x>55,x<250,4<=X<7,33<x<47
4997,single,female,no credits/all paid,business,500<=X<1000,guarantor,no known property,stores,rent,high qualif/self emp/mgmt,...,bad,1,2,4,1,>=200,4<x<21,x>13880,>=7,19<x<33
4998,div/sep,male,critical/other existing credit,furniture/equipment,>=1000,co applicant,life insurance,bank,own,skilled,...,bad,3,1,2,2,no checking,21<x<38,9337<x<13880,>=7,19<x<33
4999,div/sep,male,delayed previously,retraining,100<=X<500,co applicant,no known property,none,for free,unskilled resident,...,bad,3,1,2,2,no checking,21<x<38,x>13880,<1,x>61