In [1]:
import numpy as np
import pandas as pd
import os
import math

from pycausal.pycausal import pycausal as pc

import random
import re
import copy

from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import cross_val_score

c:\users\hp\anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
foldername = "data"
filename = "german_credit_raw.csv"

sample_number = 5000
protected_attribute = 'personal_status'

In [3]:
data = pd.read_csv(foldername + '/' + filename)

print(data.dtypes)
# drop rows with any NA values

checking_status           object
duration                   int64
credit_history            object
purpose                   object
credit_amount              int64
savings_status            object
employment                object
installment_commitment     int64
personal_status           object
other_parties             object
residence_since            int64
property_magnitude        object
age                        int64
other_payment_plans       object
housing                   object
existing_credits           int64
job                       object
num_dependents             int64
own_telephone             object
foreign_worker            object
class                     object
dtype: object

In [4]:
# Data generator
def find_range_cols(data):
        range_col = [] # columns that fit numerical values into ranges\
        for col in data.select_dtypes(exclude=['int64']).columns:
            if any(item in data[col][0] for item in ['>', '<']): 
                range_col.append(col)
        #print(range_col)
        return range_col
    
class DataGene(object):
    
    def __init__(self, data, sample_num=10, class_col='class'):
        self.data = data
        self.sample_num = sample_num
        self.class_col = 'class'
        
    def get_samples(self):
        features = self.data#.drop([self.class_col], axis=1)
        range_cols = find_range_cols(self.data)
        cat_cols = features.select_dtypes(exclude=['int64']).drop(range_cols, axis=1).columns
        num_cols = features.select_dtypes(include=['int64']).columns
        print(num_cols)
        output = []
        for var in num_cols:
            output.append(var)
        #print(type(output))
        samples = []
        
        for i in range(self.sample_num):
            sample_cat = [
                random.choice( list(set(features[cat_name])) )
                for cat_name in cat_cols
            ]
            sample_num = [
                random.choice( list(set(features[num_name])) )
                for num_name in num_cols
            ]
            sample_range = [
                random.choice( list(set(features[range_name])) )
                for range_name in range_cols
            ]
            sample = sample_cat + sample_num + sample_range
            samples.append(sample)
            
        
        samples = pd.DataFrame(samples, columns=list(cat_cols)+list(num_cols)+range_cols)
        return samples

In [5]:
# generate new samples
dataGene = DataGene(data, sample_num=sample_number)
new_samples = dataGene.get_samples()
new_samples
# encode sample data
#x_samples, y_samples = encoder.transform(new_samples)

Index(['duration', 'credit_amount', 'installment_commitment',
       'residence_since', 'age', 'existing_credits', 'num_dependents'],
      dtype='object')

,credit_history,purpose,savings_status,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,...,class,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status,employment
0,'delayed previously',education,100<=X<500,'male single',none,car,bank,rent,unemp/unskilled non res,none,...,bad,33,1980,1,1,45,2,2,no checking,'1<=X<4'
1,delayed previously,used car,'100<=X<500',male single,none,no known property,bank,'for free','high qualif/self emp/mgmt',yes,...,good,26,3380,1,2,55,3,1,>=200,'<1'
2,existing paid,domestic appliance,'>=1000',male mar/wid,none,'no known property',bank,own,'high qualif/self emp/mgmt',yes,...,good,11,2483,3,1,57,4,1,'>=200','4<=X<7'
3,'critical/other existing credit',retraining,no known savings,'male mar/wid',none,car,none,own,'unskilled resident',none,...,good,21,1301,1,2,70,3,2,'0<=X<200',unemployed
4,'all paid',new car,'500<=X<1000','male div/sep',guarantor,'life insurance',none,rent,high qualif/self emp/mgmt,none,...,good,21,2969,1,4,53,2,1,0<=X<200,'1<=X<4'
5,'delayed previously',repairs,'500<=X<1000','male single','co applicant','no known property',none,own,'unskilled resident',none,...,bad,28,3878,4,2,42,1,1,'>=200','<1'
6,'critical/other existing credit',retraining,no known savings,'male single',co applicant,'life insurance',none,own,'high qualif/self emp/mgmt',none,...,good,54,454,4,3,56,2,2,no checking,4<=X<7
7,'no credits/all paid',retraining,no known savings,female div/dep/mar,co applicant,real estate,none,rent,'high qualif/self emp/mgmt',none,...,good,4,3357,1,4,58,3,1,'0<=X<200','1<=X<4'
8,'delayed previously',other,500<=X<1000,male mar/wid,co applicant,car,bank,'for free',high qualif/self emp/mgmt,yes,...,bad,33,3275,1,3,28,1,1,'<0',>=7
9,'existing paid','new car','>=1000',male mar/wid,'co applicant',real estate,none,'for free',high qualif/self emp/mgmt,yes,...,bad,48,1893,2,3,38,4,2,>=200,'1<=X<4'
10,'existing paid',new car,'<100',male div/sep,none,life insurance,stores,own,skilled,yes,...,bad,21,1236,4,2,70,1,2,'<0',<1
11,'no credits/all paid','used car',no known savings,'male mar/wid',co applicant,life insurance,none,rent,'unemp/unskilled non res',yes,...,good,11,2404,3,1,29,1,2,<0,'1<=X<4'
12,all paid,furniture/equipment,'>=1000','male single',guarantor,car,bank,'for free','high qualif/self emp/mgmt',none,...,good,13,1516,1,1,27,3,2,0<=X<200,'>=7'
13,delayed previously,'new car','>=1000','male single',none,car,bank,for free,'unemp/unskilled non res',yes,...,bad,26,8648,3,3,36,1,1,'0<=X<200','<1'
14,existing paid,used car,'100<=X<500','male mar/wid',guarantor,'life insurance',stores,rent,skilled,none,...,bad,24,3780,3,2,60,2,2,no checking,'>=7'
15,'no credits/all paid','domestic appliance','>=1000',male div/sep,none,'real estate',stores,own,unemp/unskilled non res,yes,...,bad,47,11938,3,4,23,2,2,no checking,<1
16,'delayed previously',new car,'<100',male single,co applicant,'real estate',bank,for free,skilled,none,...,good,9,900,3,2,30,2,1,<0,1<=X<4
17,delayed previously,education,'500<=X<1000','female div/dep/mar','co applicant',car,bank,rent,'unemp/unskilled non res',yes,...,bad,60,339,1,1,20,1,2,<0,'1<=X<4'
18,'no credits/all paid',business,'>=1000','female div/dep/mar',co applicant,'no known property',bank,own,'unemp/unskilled non res',none,...,bad,20,2991,3,2,32,1,2,'>=200',4<=X<7
19,no credits/all paid,'domestic appliance','500<=X<1000',male single,guarantor,'life insurance',none,for free,'high qualif/self emp/mgmt',yes,...,bad,18,1829,3,4,43,4,1,'0<=X<200','<1'
20,no credits/all paid,education,'no known savings',male single,none,'real estate',bank,for free,'unskilled resident',yes,...,good,16,1574,3,2,50,1,1,<0,unemployed
21,'all paid',radio/tv,500<=X<1000,female div/dep/mar,co applicant,no known property,none,own,skilled,none,...,good,40,4788,3,4,26,4,1,no checking,>=7
22,all paid,domestic appliance,'<100',male single,'co applicant','no known property',none,for free,skilled,yes,...,bad,28,10477,4,3,20,4,2,0<=X<200,unemployed
23,no credits/all paid,retraining,'100<=X<500',male mar/wid,guarantor,life insurance,bank,rent,'high qualif/self emp/mgmt',none,...,good,60,750,1,3,38,4,1,'<0','1<=X<4'
24,'all paid',business,'>=1000','male div/sep',co applicant,'life insurance',bank,own,'unskilled resident',none,...,good,16,5842,1,1,25,2,2,>=200,>=7
25,all paid,education,'<100',female div/dep/mar,none,no known property,stores,own,'unskilled resident',none,...,bad,11,7393,2,2,60,4,2,0<=X<200,'1<=X<4'
26,'critical/other existing credit',domestic appliance,'500<=X<1000',male single,guarantor,'life insurance',bank,for free,'high qualif/self emp/mgmt',none,...,bad,11,3001,4,3,58,4,1,'0<=X<200',unemployed
27,'delayed previously',business,100<=X<500,'male mar/wid',guarantor,life insurance,bank,'for free',high qualif/self emp/mgmt,yes,...,good,8,3059,2,2,58,3,2,<0,4<=X<7
28,existing paid,'used car',100<=X<500,male mar/wid,none,'real estate',bank,'for free',skilled,yes,...,good,11,4576,4,2,52,4,2,0<=X<200,unemployed
29,delayed previously,'domestic appliance',<100,male div/sep,co applicant,no known property,none,'for free',unskilled resident,yes,...,bad,21,1402,2,3,59,4,1,'0<=X<200','>=7'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,'critical/other existing credit',education,'500<=X<1000','female div/dep/mar',guarantor,'life insurance',stores,for free,'unskilled resident',yes,...,bad,4,1572,4,3,67,3,1,'>=200',1<=X<4
4971,all paid,other,100<=X<500,male single,'co applicant','life insurance',stores,rent,unemp/unskilled non res,yes,...,good,27,6579,4,3,45,4,2,'0<=X<200',1<=X<4
4972,'existing paid','new car',<100,'male div/sep',guarantor,'no known property',bank,rent,'unemp/unskilled non res',yes,...,good,9,3051,3,3,65,3,2,0<=X<200,1<=X<4
4973,'critical/other existing credit',retraining,'no known savings','female div/dep/mar',guarantor,'no known property',stores,own,high qualif/self emp/mgmt,none,...,good,4,888,3,2,22,4,1,0<=X<200,<1
4974,'critical/other existing credit','domestic appliance',<100,female div/dep/mar,co applicant,real estate,bank,own,'unemp/unskilled non res',none,...,good,18,6314,4,1,58,4,1,no checking,1<=X<4
4975,existing paid,domestic appliance,<100,male div/sep,'co applicant','life insurance',none,for free,'unemp/unskilled non res',none,...,bad,21,660,3,1,40,2,2,>=200,'4<=X<7'
4976,delayed previously,new car,no known savings,female div/dep/mar,guarantor,car,none,for free,'unskilled resident',none,...,bad,18,5129,4,1,35,1,1,>=200,4<=X<7
4977,'existing paid','domestic appliance','100<=X<500','male single',co applicant,real estate,bank,'for free',skilled,yes,...,good,48,6872,1,3,68,3,2,'no checking',unemployed
4978,'critical/other existing credit','domestic appliance','100<=X<500','male div/sep',co applicant,'no known property',stores,own,skilled,none,...,bad,60,691,1,3,26,1,2,>=200,'>=7'
4979,no credits/all paid,furniture/equipment,no known savings,'male mar/wid',none,no known property,none,'for free','high qualif/self emp/mgmt',none,...,bad,72,6288,3,1,75,4,2,0<=X<200,>=7
4980,existing paid,education,'<100',male single,co applicant,no known property,bank,for free,unemp/unskilled non res,yes,...,good,14,1864,3,1,70,3,1,'>=200','4<=X<7'
4981,'existing paid',other,<100,'male single',co applicant,'no known property',bank,for free,'unemp/unskilled non res',none,...,good,54,2647,3,1,41,2,1,'>=200','>=7'
4982,'all paid',other,>=1000,male single,'co applicant',no known property,stores,rent,high qualif/self emp/mgmt,yes,...,good,40,1316,2,1,62,1,2,no checking,4<=X<7
4983,critical/other existing credit,used car,no known savings,male div/sep,none,car,stores,rent,'unemp/unskilled non res',yes,...,good,20,3757,4,1,63,2,2,'>=200',4<=X<7
4984,all paid,new car,'>=1000','male mar/wid',guarantor,life insurance,none,own,skilled,none,...,good,10,5771,4,1,55,4,2,0<=X<200,<1
4985,all paid,domestic appliance,100<=X<500,male single,guarantor,'no known property',bank,rent,high qualif/self emp/mgmt,yes,...,good,9,2221,4,1,51,1,1,'>=200',unemployed
4986,'no credits/all paid',new car,'500<=X<1000',female div/dep/mar,none,real estate,bank,for free,high qualif/self emp/mgmt,none,...,good,11,2613,4,4,53,3,1,>=200,'4<=X<7'
4987,'no credits/all paid',repairs,500<=X<1000,'male div/sep',guarantor,life insurance,stores,for free,'unemp/unskilled non res',none,...,bad,13,3758,2,4,66,2,2,'>=200',4<=X<7
4988,'delayed previously',repairs,<100,female div/dep/mar,none,'life insurance',none,'for free',skilled,yes,...,good,33,12169,2,2,55,4,2,'<0',1<=X<4
4989,all paid,new car,'100<=X<500',male single,guarantor,'real estate',bank,'for free','unskilled resident',none,...,good,30,2522,1,1,32,4,2,'no checking','<1'
4990,'existing paid',other,'500<=X<1000','male div/sep','co applicant',life insurance,stores,own,unemp/unskilled non res,none,...,bad,47,806,3,2,29,3,1,'<0','1<=X<4'
4991,all paid,'used car',500<=X<1000,'male div/sep',guarantor,life insurance,stores,own,unskilled resident,none,...,bad,5,3235,4,1,62,4,1,'>=200',unemployed
4992,existing paid,repairs,no known savings,'male mar/wid',co applicant,car,bank,rent,unskilled resident,none,...,good,14,11054,3,4,22,4,1,0<=X<200,unemployed
4993,delayed previously,repairs,100<=X<500,female div/dep/mar,co applicant,'real estate',none,'for free',high qualif/self emp/mgmt,yes,...,bad,6,3660,2,2,60,4,1,no checking,'4<=X<7'
4994,'delayed previously',furniture/equipment,'no known savings','male div/sep',guarantor,'real estate',bank,own,skilled,none,...,good,24,2116,4,2,47,1,2,'>=200','1<=X<4'
4995,'all paid','domestic appliance','500<=X<1000',male mar/wid,co applicant,car,stores,own,unemp/unskilled non res,none,...,bad,4,1453,3,1,29,4,2,0<=X<200,1<=X<4
4996,all paid,'used car','<100','female div/dep/mar',co applicant,'real estate',none,rent,unskilled resident,none,...,bad,30,1414,1,1,50,4,2,0<=X<200,<1
4997,'all paid',retraining,'500<=X<1000','male single',guarantor,no known property,stores,for free,unskilled resident,none,...,good,21,1175,2,1,54,1,2,'>=200',>=7
4998,delayed previously,retraining,100<=X<500,female div/dep/mar,co applicant,life insurance,none,rent,'high qualif/self emp/mgmt',yes,...,bad,10,1249,2,2,45,2,2,no checking,>=7
4999,'existing paid',radio/tv,'<100',female div/dep/mar,none,no known property,stores,rent,'high qualif/self emp/mgmt',none,...,good,9,2831,2,1,30,1,2,>=200,4<=X<7

In [6]:
import pandas as pd
import os
from collections import OrderedDict
import math





def findRange(thresholds, v):
    for i, th in enumerate(thresholds):
        if(v <= th):
            if i==0:
                return "x<{}".format(th)
            elif i == len(thresholds)-1:
                return "x>{}".format(thresholds[i-1])
            else:
                return "{}<x<{}".format(thresholds[i-1], thresholds[i])

def convert_cate(arr):
    n = 4 #parts to be divided
    maxValue = max(arr)
    minValue = min(arr)
    thresholds = [ math.floor(i*(maxValue-minValue)/n)+minValue for i in range(n+1)]

    #print([findRange(thresholds, i) for i in arr])
    
    return pd.Series([findRange(thresholds, i) for i in arr])


def num2cate(dataIn):
    dfc = dataIn[:]
#     new_data = pd.DataFrame()
    for k in dfc.columns:
        if(k in dfc.select_dtypes(include=['int64'])):
            values = pd.to_numeric(dfc[k])
            dfc[k] = convert_cate(values.tolist())
        
    return dfc

# num to cate
new_samples = num2cate(new_samples)
new_samples

,credit_history,purpose,savings_status,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,...,class,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status,employment
0,'delayed previously',education,100<=X<500,'male single',none,car,bank,rent,unemp/unskilled non res,none,...,bad,21<x<38,250<x<4793,x<1,x<1,33<x<47,1<x<2,x>1,no checking,'1<=X<4'
1,delayed previously,used car,'100<=X<500',male single,none,no known property,bank,'for free','high qualif/self emp/mgmt',yes,...,good,21<x<38,250<x<4793,x<1,1<x<2,47<x<61,2<x<3,x<1,>=200,'<1'
2,existing paid,domestic appliance,'>=1000',male mar/wid,none,'no known property',bank,own,'high qualif/self emp/mgmt',yes,...,good,4<x<21,250<x<4793,2<x<3,x<1,47<x<61,x>3,x<1,'>=200','4<=X<7'
3,'critical/other existing credit',retraining,no known savings,'male mar/wid',none,car,none,own,'unskilled resident',none,...,good,4<x<21,250<x<4793,x<1,1<x<2,x>61,2<x<3,x>1,'0<=X<200',unemployed
4,'all paid',new car,'500<=X<1000','male div/sep',guarantor,'life insurance',none,rent,high qualif/self emp/mgmt,none,...,good,4<x<21,250<x<4793,x<1,x>3,47<x<61,1<x<2,x<1,0<=X<200,'1<=X<4'
5,'delayed previously',repairs,'500<=X<1000','male single','co applicant','no known property',none,own,'unskilled resident',none,...,bad,21<x<38,250<x<4793,x>3,1<x<2,33<x<47,x<1,x<1,'>=200','<1'
6,'critical/other existing credit',retraining,no known savings,'male single',co applicant,'life insurance',none,own,'high qualif/self emp/mgmt',none,...,good,38<x<55,250<x<4793,x>3,2<x<3,47<x<61,1<x<2,x>1,no checking,4<=X<7
7,'no credits/all paid',retraining,no known savings,female div/dep/mar,co applicant,real estate,none,rent,'high qualif/self emp/mgmt',none,...,good,x<4,250<x<4793,x<1,x>3,47<x<61,2<x<3,x<1,'0<=X<200','1<=X<4'
8,'delayed previously',other,500<=X<1000,male mar/wid,co applicant,car,bank,'for free',high qualif/self emp/mgmt,yes,...,bad,21<x<38,250<x<4793,x<1,2<x<3,19<x<33,x<1,x<1,'<0',>=7
9,'existing paid','new car','>=1000',male mar/wid,'co applicant',real estate,none,'for free',high qualif/self emp/mgmt,yes,...,bad,38<x<55,250<x<4793,1<x<2,2<x<3,33<x<47,x>3,x>1,>=200,'1<=X<4'
10,'existing paid',new car,'<100',male div/sep,none,life insurance,stores,own,skilled,yes,...,bad,4<x<21,250<x<4793,x>3,1<x<2,x>61,x<1,x>1,'<0',<1
11,'no credits/all paid','used car',no known savings,'male mar/wid',co applicant,life insurance,none,rent,'unemp/unskilled non res',yes,...,good,4<x<21,250<x<4793,2<x<3,x<1,19<x<33,x<1,x>1,<0,'1<=X<4'
12,all paid,furniture/equipment,'>=1000','male single',guarantor,car,bank,'for free','high qualif/self emp/mgmt',none,...,good,4<x<21,250<x<4793,x<1,x<1,19<x<33,2<x<3,x>1,0<=X<200,'>=7'
13,delayed previously,'new car','>=1000','male single',none,car,bank,for free,'unemp/unskilled non res',yes,...,bad,21<x<38,4793<x<9337,2<x<3,2<x<3,33<x<47,x<1,x<1,'0<=X<200','<1'
14,existing paid,used car,'100<=X<500','male mar/wid',guarantor,'life insurance',stores,rent,skilled,none,...,bad,21<x<38,250<x<4793,2<x<3,1<x<2,47<x<61,1<x<2,x>1,no checking,'>=7'
15,'no credits/all paid','domestic appliance','>=1000',male div/sep,none,'real estate',stores,own,unemp/unskilled non res,yes,...,bad,38<x<55,9337<x<13880,2<x<3,x>3,19<x<33,1<x<2,x>1,no checking,<1
16,'delayed previously',new car,'<100',male single,co applicant,'real estate',bank,for free,skilled,none,...,good,4<x<21,250<x<4793,2<x<3,1<x<2,19<x<33,1<x<2,x<1,<0,1<=X<4
17,delayed previously,education,'500<=X<1000','female div/dep/mar','co applicant',car,bank,rent,'unemp/unskilled non res',yes,...,bad,x>55,250<x<4793,x<1,x<1,19<x<33,x<1,x>1,<0,'1<=X<4'
18,'no credits/all paid',business,'>=1000','female div/dep/mar',co applicant,'no known property',bank,own,'unemp/unskilled non res',none,...,bad,4<x<21,250<x<4793,2<x<3,1<x<2,19<x<33,x<1,x>1,'>=200',4<=X<7
19,no credits/all paid,'domestic appliance','500<=X<1000',male single,guarantor,'life insurance',none,for free,'high qualif/self emp/mgmt',yes,...,bad,4<x<21,250<x<4793,2<x<3,x>3,33<x<47,x>3,x<1,'0<=X<200','<1'
20,no credits/all paid,education,'no known savings',male single,none,'real estate',bank,for free,'unskilled resident',yes,...,good,4<x<21,250<x<4793,2<x<3,1<x<2,47<x<61,x<1,x<1,<0,unemployed
21,'all paid',radio/tv,500<=X<1000,female div/dep/mar,co applicant,no known property,none,own,skilled,none,...,good,38<x<55,250<x<4793,2<x<3,x>3,19<x<33,x>3,x<1,no checking,>=7
22,all paid,domestic appliance,'<100',male single,'co applicant','no known property',none,for free,skilled,yes,...,bad,21<x<38,9337<x<13880,x>3,2<x<3,19<x<33,x>3,x>1,0<=X<200,unemployed
23,no credits/all paid,retraining,'100<=X<500',male mar/wid,guarantor,life insurance,bank,rent,'high qualif/self emp/mgmt',none,...,good,x>55,250<x<4793,x<1,2<x<3,33<x<47,x>3,x<1,'<0','1<=X<4'
24,'all paid',business,'>=1000','male div/sep',co applicant,'life insurance',bank,own,'unskilled resident',none,...,good,4<x<21,4793<x<9337,x<1,x<1,19<x<33,1<x<2,x>1,>=200,>=7
25,all paid,education,'<100',female div/dep/mar,none,no known property,stores,own,'unskilled resident',none,...,bad,4<x<21,4793<x<9337,1<x<2,1<x<2,47<x<61,x>3,x>1,0<=X<200,'1<=X<4'
26,'critical/other existing credit',domestic appliance,'500<=X<1000',male single,guarantor,'life insurance',bank,for free,'high qualif/self emp/mgmt',none,...,bad,4<x<21,250<x<4793,x>3,2<x<3,47<x<61,x>3,x<1,'0<=X<200',unemployed
27,'delayed previously',business,100<=X<500,'male mar/wid',guarantor,life insurance,bank,'for free',high qualif/self emp/mgmt,yes,...,good,4<x<21,250<x<4793,1<x<2,1<x<2,47<x<61,2<x<3,x>1,<0,4<=X<7
28,existing paid,'used car',100<=X<500,male mar/wid,none,'real estate',bank,'for free',skilled,yes,...,good,4<x<21,250<x<4793,x>3,1<x<2,47<x<61,x>3,x>1,0<=X<200,unemployed
29,delayed previously,'domestic appliance',<100,male div/sep,co applicant,no known property,none,'for free',unskilled resident,yes,...,bad,4<x<21,250<x<4793,1<x<2,2<x<3,47<x<61,x>3,x<1,'0<=X<200','>=7'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,'critical/other existing credit',education,'500<=X<1000','female div/dep/mar',guarantor,'life insurance',stores,for free,'unskilled resident',yes,...,bad,x<4,250<x<4793,x>3,2<x<3,x>61,2<x<3,x<1,'>=200',1<=X<4
4971,all paid,other,100<=X<500,male single,'co applicant','life insurance',stores,rent,unemp/unskilled non res,yes,...,good,21<x<38,4793<x<9337,x>3,2<x<3,33<x<47,x>3,x>1,'0<=X<200',1<=X<4
4972,'existing paid','new car',<100,'male div/sep',guarantor,'no known property',bank,rent,'unemp/unskilled non res',yes,...,good,4<x<21,250<x<4793,2<x<3,2<x<3,x>61,2<x<3,x>1,0<=X<200,1<=X<4
4973,'critical/other existing credit',retraining,'no known savings','female div/dep/mar',guarantor,'no known property',stores,own,high qualif/self emp/mgmt,none,...,good,x<4,250<x<4793,2<x<3,1<x<2,19<x<33,x>3,x<1,0<=X<200,<1
4974,'critical/other existing credit','domestic appliance',<100,female div/dep/mar,co applicant,real estate,bank,own,'unemp/unskilled non res',none,...,good,4<x<21,4793<x<9337,x>3,x<1,47<x<61,x>3,x<1,no checking,1<=X<4
4975,existing paid,domestic appliance,<100,male div/sep,'co applicant','life insurance',none,for free,'unemp/unskilled non res',none,...,bad,4<x<21,250<x<4793,2<x<3,x<1,33<x<47,1<x<2,x>1,>=200,'4<=X<7'
4976,delayed previously,new car,no known savings,female div/dep/mar,guarantor,car,none,for free,'unskilled resident',none,...,bad,4<x<21,4793<x<9337,x>3,x<1,33<x<47,x<1,x<1,>=200,4<=X<7
4977,'existing paid','domestic appliance','100<=X<500','male single',co applicant,real estate,bank,'for free',skilled,yes,...,good,38<x<55,4793<x<9337,x<1,2<x<3,x>61,2<x<3,x>1,'no checking',unemployed
4978,'critical/other existing credit','domestic appliance','100<=X<500','male div/sep',co applicant,'no known property',stores,own,skilled,none,...,bad,x>55,250<x<4793,x<1,2<x<3,19<x<33,x<1,x>1,>=200,'>=7'
4979,no credits/all paid,furniture/equipment,no known savings,'male mar/wid',none,no known property,none,'for free','high qualif/self emp/mgmt',none,...,bad,x>55,4793<x<9337,2<x<3,x<1,x>61,x>3,x>1,0<=X<200,>=7
4980,existing paid,education,'<100',male single,co applicant,no known property,bank,for free,unemp/unskilled non res,yes,...,good,4<x<21,250<x<4793,2<x<3,x<1,x>61,2<x<3,x<1,'>=200','4<=X<7'
4981,'existing paid',other,<100,'male single',co applicant,'no known property',bank,for free,'unemp/unskilled non res',none,...,good,38<x<55,250<x<4793,2<x<3,x<1,33<x<47,1<x<2,x<1,'>=200','>=7'
4982,'all paid',other,>=1000,male single,'co applicant',no known property,stores,rent,high qualif/self emp/mgmt,yes,...,good,38<x<55,250<x<4793,1<x<2,x<1,x>61,x<1,x>1,no checking,4<=X<7
4983,critical/other existing credit,used car,no known savings,male div/sep,none,car,stores,rent,'unemp/unskilled non res',yes,...,good,4<x<21,250<x<4793,x>3,x<1,x>61,1<x<2,x>1,'>=200',4<=X<7
4984,all paid,new car,'>=1000','male mar/wid',guarantor,life insurance,none,own,skilled,none,...,good,4<x<21,4793<x<9337,x>3,x<1,47<x<61,x>3,x>1,0<=X<200,<1
4985,all paid,domestic appliance,100<=X<500,male single,guarantor,'no known property',bank,rent,high qualif/self emp/mgmt,yes,...,good,4<x<21,250<x<4793,x>3,x<1,47<x<61,x<1,x<1,'>=200',unemployed
4986,'no credits/all paid',new car,'500<=X<1000',female div/dep/mar,none,real estate,bank,for free,high qualif/self emp/mgmt,none,...,good,4<x<21,250<x<4793,x>3,x>3,47<x<61,2<x<3,x<1,>=200,'4<=X<7'
4987,'no credits/all paid',repairs,500<=X<1000,'male div/sep',guarantor,life insurance,stores,for free,'unemp/unskilled non res',none,...,bad,4<x<21,250<x<4793,1<x<2,x>3,x>61,1<x<2,x>1,'>=200',4<=X<7
4988,'delayed previously',repairs,<100,female div/dep/mar,none,'life insurance',none,'for free',skilled,yes,...,good,21<x<38,9337<x<13880,1<x<2,1<x<2,47<x<61,x>3,x>1,'<0',1<=X<4
4989,all paid,new car,'100<=X<500',male single,guarantor,'real estate',bank,'for free','unskilled resident',none,...,good,21<x<38,250<x<4793,x<1,x<1,19<x<33,x>3,x>1,'no checking','<1'
4990,'existing paid',other,'500<=X<1000','male div/sep','co applicant',life insurance,stores,own,unemp/unskilled non res,none,...,bad,38<x<55,250<x<4793,2<x<3,1<x<2,19<x<33,2<x<3,x<1,'<0','1<=X<4'
4991,all paid,'used car',500<=X<1000,'male div/sep',guarantor,life insurance,stores,own,unskilled resident,none,...,bad,4<x<21,250<x<4793,x>3,x<1,x>61,x>3,x<1,'>=200',unemployed
4992,existing paid,repairs,no known savings,'male mar/wid',co applicant,car,bank,rent,unskilled resident,none,...,good,4<x<21,9337<x<13880,2<x<3,x>3,19<x<33,x>3,x<1,0<=X<200,unemployed
4993,delayed previously,repairs,100<=X<500,female div/dep/mar,co applicant,'real estate',none,'for free',high qualif/self emp/mgmt,yes,...,bad,4<x<21,250<x<4793,1<x<2,1<x<2,47<x<61,x>3,x<1,no checking,'4<=X<7'
4994,'delayed previously',furniture/equipment,'no known savings','male div/sep',guarantor,'real estate',bank,own,skilled,none,...,good,21<x<38,250<x<4793,x>3,1<x<2,33<x<47,x<1,x>1,'>=200','1<=X<4'
4995,'all paid','domestic appliance','500<=X<1000',male mar/wid,co applicant,car,stores,own,unemp/unskilled non res,none,...,bad,x<4,250<x<4793,2<x<3,x<1,19<x<33,x>3,x>1,0<=X<200,1<=X<4
4996,all paid,'used car','<100','female div/dep/mar',co applicant,'real estate',none,rent,unskilled resident,none,...,bad,21<x<38,250<x<4793,x<1,x<1,47<x<61,x>3,x>1,0<=X<200,<1
4997,'all paid',retraining,'500<=X<1000','male single',guarantor,no known property,stores,for free,unskilled resident,none,...,good,4<x<21,250<x<4793,1<x<2,x<1,47<x<61,x<1,x>1,'>=200',>=7
4998,delayed previously,retraining,100<=X<500,female div/dep/mar,co applicant,life insurance,none,rent,'high qualif/self emp/mgmt',yes,...,bad,4<x<21,250<x<4793,1<x<2,1<x<2,33<x<47,1<x<2,x>1,no checking,>=7
4999,'existing paid',radio/tv,'<100',female div/dep/mar,none,no known property,stores,rent,'high qualif/self emp/mgmt',none,...,good,4<x<21,250<x<4793,1<x<2,x<1,19<x<33,x<1,x>1,>=200,4<=X<7

In [7]:

from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier

class DataEncoder(object):


    def __init__(self, class_column='class', cat_columns=None):
        self.class_column = class_column
        self.cat_columns = cat_columns

        # these will be trained with fit_encoders()
        self.column_encoders = {} # label encoder
        self.cat_encoder = None # one-hot encoder
        self.label_encoder = None # label encoder

    def fit(self, data):
        """
        Fit one-hot encoders for categorical features and an integer encoder for
        the label. These can be used later to transform raw data into a form
        that ATM can work with.

        data: pd.DataFrame of unprocessed data
        """
        if self.class_column not in data.columns:
            raise KeyError('Class column "%s" not found in dataset!' %
                           self.class_column)
            
        range_col = find_range_cols(data)
                
        self.range_col = range_col
            

        # encode categorical columns, leave ordinal values alone
        if self.cat_columns is None:
            cats = data.drop([self.class_column]+range_col, axis=1).select_dtypes(exclude=['int64'])
            self.cat_columns = cats.columns
        else:
            cats = data[self.cat_columns].drop(range_col, axis=1).select_dtypes(exclude=['int64'])
            
        self.cat_cols = cats.columns
        
        for cat_name in cats.columns:   
        # save the indices of categorical columns for one-hot encoding

            # encode each feature as an integer in range(unique_vals)
            le = LabelEncoder()
            cats[cat_name] = le.fit_transform(cats[cat_name])
            self.column_encoders[cat_name] = le

        # One-hot encode the whole feature matrix.
        # Set sparse to False so that we can test for NaNs in the output
        self.cat_encoder = OneHotEncoder(sparse=False)
        self.cat_encoder.fit(cats)

        # Train an encoder for the label as well
        labels = np.array(data[[self.class_column]])
        self.label_encoder = LabelEncoder()
        self.label_encoder.fit(labels)
        

    def transform(self, data):
        """
        Convert a DataFrame of labeled data to a feature matrix in the form
        that ATM can use.
        """
        y = self.transform_y(data)
        X = self.transform_x(data)

        return X, y
    
    def transform_x(self, data):
        """
        only transform x, for the generated data
        """
        cats = data[self.cat_columns]

        # encode each categorical feature as an integer
        for column, encoder in list(self.column_encoders.items()):
            cats[column] = encoder.transform(cats[column])

        # one-hot encode the categorical features
        X = self.cat_encoder.transform(cats)
        
        if self.class_column in data:
            nums = data.drop([self.class_column], axis=1).select_dtypes(include=['int64']).values
        else:
            nums = data.select_dtypes(include=['int64']).values
        # transform range cols into integrate. e.g., <4 -> 1; 4<x<7 -> 2
        ranges = []
        for col in self.range_col:
            values = data[col]
            ranges.append( self.range2int(values) )
        if(ranges==[]):
            X = np.concatenate((X, nums), axis=1)
        else:
            ranges = np.transpose( np.array(ranges) )
            X = np.concatenate((X, nums, ranges), axis=1)
        
        return X
    
    def transform_y(self, data):
        if self.class_column in data:
            # pull labels into a separate series and transform them to integers
            labels = np.array(data[[self.class_column]])
            y = self.label_encoder.transform(labels)
            # drop the label column and transform the remaining features
        else:
            y = None
            
        return y
    
    def range2int(self, values):
        ranges = []
        for v in values:
            if v not in ranges:
                ranges.append(v)
        
        def sort_key(x):
            num_strings = re.findall('\d+', x)
            # 'undefined' is in the front
            if len(num_strings)==0:
                return -1
            # x> 1, x<7
            elif len(num_strings)==1:
                return int(num_strings[0])*2
            # 1<x<7
            else:
                nums = map(int, num_strings) # string to number
                return sum(nums)
                
        ranges.sort(key=sort_key)
        return list(map(lambda x: ranges.index(x), values))
        
        
    
    def fit_transform(self, data):
        """ Process data into a form that ATM can use. """
        self.fit(data)
        return self.transform(data)
    

knn = KNeighborsClassifier(
                algorithm = "ball_tree",
                leaf_size = 40,
                metric = "manhattan",
                n_neighbors = 17
            )
    
encoder = DataEncoder()
encoder.fit(new_samples)
x_train, y_train = encoder.transform(new_samples)
knn.fit(x_train,y_train)
score = cross_val_score(knn, x_train, y_train, scoring='accuracy', cv=10) 
data

c:\users\hp\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\hp\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad
5,no checking,36,existing paid,education,9055,no known savings,1<=X<4,2,male single,none,...,no known property,35,none,for free,1,unskilled resident,2,yes,yes,good
6,no checking,24,existing paid,furniture/equipment,2835,500<=X<1000,>=7,3,male single,none,...,life insurance,53,none,own,1,skilled,1,none,yes,good
7,0<=X<200,36,existing paid,used car,6948,<100,1<=X<4,2,male single,none,...,car,35,none,rent,1,high qualif/self emp/mgmt,1,yes,yes,good
8,no checking,12,existing paid,radio/tv,3059,>=1000,4<=X<7,2,male div/sep,none,...,real estate,61,none,own,1,unskilled resident,1,none,yes,good
9,0<=X<200,30,critical/other existing credit,new car,5234,<100,unemployed,4,male mar/wid,none,...,car,28,none,own,2,high qualif/self emp/mgmt,1,none,yes,bad
10,0<=X<200,12,existing paid,new car,1295,<100,<1,3,female div/dep/mar,none,...,car,25,none,rent,1,skilled,1,none,yes,bad
11,<0,48,existing paid,business,4308,<100,<1,3,female div/dep/mar,none,...,life insurance,24,none,rent,1,skilled,1,none,yes,bad
12,0<=X<200,12,existing paid,radio/tv,1567,<100,1<=X<4,1,female div/dep/mar,none,...,car,22,none,own,1,skilled,1,yes,yes,good
13,<0,24,critical/other existing credit,new car,1199,<100,>=7,4,male single,none,...,car,60,none,own,2,unskilled resident,1,none,yes,bad
14,<0,15,existing paid,new car,1403,<100,1<=X<4,2,female div/dep/mar,none,...,car,28,none,rent,1,skilled,1,none,yes,good
15,<0,24,existing paid,radio/tv,1282,100<=X<500,1<=X<4,4,female div/dep/mar,none,...,car,32,none,own,1,unskilled resident,1,none,yes,bad
16,no checking,24,critical/other existing credit,radio/tv,2424,no known savings,>=7,4,male single,none,...,life insurance,53,none,own,2,skilled,1,none,yes,good
17,<0,30,no credits/all paid,business,8072,no known savings,<1,2,male single,none,...,car,25,bank,own,3,skilled,1,none,yes,good
18,0<=X<200,24,existing paid,used car,12579,<100,>=7,4,female div/dep/mar,none,...,no known property,44,none,for free,1,high qualif/self emp/mgmt,1,yes,yes,bad
19,no checking,24,existing paid,radio/tv,3430,500<=X<1000,>=7,3,male single,none,...,car,31,none,own,1,skilled,2,yes,yes,good
20,no checking,9,critical/other existing credit,new car,2134,<100,1<=X<4,4,male single,none,...,car,48,none,own,3,skilled,1,yes,yes,good
21,<0,6,existing paid,radio/tv,2647,500<=X<1000,1<=X<4,2,male single,none,...,real estate,44,none,rent,1,skilled,2,none,yes,good
22,<0,10,critical/other existing credit,new car,2241,<100,<1,1,male single,none,...,real estate,48,none,rent,2,unskilled resident,2,none,no,good
23,0<=X<200,12,critical/other existing credit,used car,1804,100<=X<500,<1,3,male single,none,...,life insurance,44,none,own,1,skilled,1,none,yes,good
24,no checking,10,critical/other existing credit,furniture/equipment,2069,no known savings,1<=X<4,2,male mar/wid,none,...,car,26,none,own,2,skilled,1,none,no,good
25,<0,6,existing paid,furniture/equipment,1374,<100,1<=X<4,1,male single,none,...,real estate,36,bank,own,1,unskilled resident,1,yes,yes,good
26,no checking,6,no credits/all paid,radio/tv,426,<100,>=7,4,male mar/wid,none,...,car,39,none,own,1,unskilled resident,1,none,yes,good
27,>=200,12,all paid,radio/tv,409,>=1000,1<=X<4,3,female div/dep/mar,none,...,real estate,42,none,rent,2,skilled,1,none,yes,good
28,0<=X<200,7,existing paid,radio/tv,2415,<100,1<=X<4,3,male single,guarantor,...,real estate,34,none,own,1,skilled,1,none,yes,good
29,<0,60,delayed previously,business,6836,<100,>=7,3,male single,none,...,no known property,63,none,own,2,skilled,1,yes,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,'0<=X<200',15,'existing paid',repairs,1514,'100<=X<500','1<=X<4',4,'male single',guarantor,...,'real estate',22,none,own,1,skilled,1,none,yes,good
971,'no checking',24,'existing paid','new car',7393,'<100','1<=X<4',1,'male single',none,...,'life insurance',43,none,own,1,'unskilled resident',2,none,yes,good
972,'<0',24,'all paid','new car',1193,'<100',unemployed,1,'female div/dep/mar','co applicant',...,'no known property',29,none,rent,2,'unemp/unskilled non res',1,none,yes,bad
973,'<0',60,'existing paid',business,7297,'<100','>=7',4,'male single','co applicant',...,'no known property',36,none,rent,1,skilled,1,none,yes,bad
974,'no checking',30,'critical/other existing credit',radio/tv,2831,'<100','1<=X<4',4,'female div/dep/mar',none,...,car,33,none,own,1,skilled,1,yes,yes,good
975,'>=200',24,'existing paid',radio/tv,1258,'500<=X<1000','1<=X<4',3,'female div/dep/mar',none,...,car,57,none,own,1,'unskilled resident',1,none,yes,good
976,'0<=X<200',6,'existing paid',radio/tv,753,'<100','1<=X<4',2,'female div/dep/mar',guarantor,...,'real estate',64,none,own,1,skilled,1,none,yes,good
977,'0<=X<200',18,'delayed previously',business,2427,'no known savings','>=7',4,'male single',none,...,'life insurance',42,none,own,2,skilled,1,none,yes,good
978,'no checking',24,'delayed previously','new car',2538,'<100','>=7',4,'male single',none,...,car,47,none,own,2,'unskilled resident',2,none,yes,bad
979,'0<=X<200',15,'all paid','new car',1264,'100<=X<500','1<=X<4',2,'male mar/wid',none,...,'life insurance',25,none,rent,1,skilled,1,none,yes,bad
980,'0<=X<200',30,'critical/other existing credit',furniture/equipment,8386,'<100','4<=X<7',2,'male single',none,...,'life insurance',49,none,own,1,skilled,1,none,yes,bad
981,'no checking',48,'existing paid',business,4844,'<100',unemployed,3,'male single',none,...,car,33,bank,rent,1,'high qualif/self emp/mgmt',1,yes,yes,bad
982,'>=200',21,'existing paid','new car',2923,'100<=X<500','1<=X<4',1,'female div/dep/mar',none,...,car,28,bank,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
983,'<0',36,'existing paid','used car',8229,'<100','1<=X<4',2,'male single',none,...,'life insurance',26,none,own,1,skilled,2,none,yes,bad
984,'no checking',24,'critical/other existing credit',furniture/equipment,2028,'<100','4<=X<7',2,'male single',none,...,'life insurance',30,none,own,2,'unskilled resident',1,none,yes,good
985,'<0',15,'critical/other existing credit',furniture/equipment,1433,'<100','1<=X<4',4,'female div/dep/mar',none,...,'life insurance',25,none,rent,2,skilled,1,none,yes,good
986,'>=200',42,'no credits/all paid',business,6289,'<100','<1',2,'male div/sep',none,...,'life insurance',33,none,own,2,skilled,1,none,yes,good
987,'no checking',13,'existing paid',radio/tv,1409,'100<=X<500',unemployed,2,'female div/dep/mar',none,...,'real estate',64,none,own,1,skilled,1,none,yes,good
988,'<0',24,'existing paid','used car',6579,'<100',unemployed,4,'male single',none,...,'no known property',29,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,good
989,'0<=X<200',24,'critical/other existing credit',radio/tv,1743,'<100','>=7',4,'male single',none,...,'life insurance',48,none,own,2,'unskilled resident',1,none,yes,good
990,'no checking',12,'critical/other existing credit',education,3565,'no known savings','<1',2,'male single',none,...,'life insurance',37,none,own,2,'unskilled resident',2,none,yes,good
991,'no checking',15,'all paid',radio/tv,1569,'100<=X<500','>=7',4,'male single',none,...,car,34,bank,own,1,'unskilled resident',2,none,yes,good
992,'<0',18,'existing paid',radio/tv,1936,'no known savings','4<=X<7',2,'male mar/wid',none,...,car,23,none,rent,2,'unskilled resident',1,none,yes,good
993,'<0',36,'existing paid',furniture/equipment,3959,'<100',unemployed,4,'male single',none,...,'life insurance',30,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
994,'no checking',12,'existing paid','new car',2390,'no known savings','>=7',4,'male single',none,...,car,50,none,own,1,skilled,1,yes,yes,good
995,'no checking',12,'existing paid',furniture/equipment,1736,'<100','4<=X<7',3,'female div/dep/mar',none,...,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,'<0',30,'existing paid','used car',3857,'<100','1<=X<4',4,'male div/sep',none,...,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,'no checking',12,'existing paid',radio/tv,804,'<100','>=7',4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,'<0',45,'existing paid',radio/tv,1845,'<100','1<=X<4',4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,'0<=X<200',45,'critical/other existing credit','used car',4576,'100<=X<500',unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

In [8]:
def generate_model_samples(data, sample_num, model, encoder):
    """
    models behavior on generated sample data:
    Args:
        data(pandas DataFrame): training data
        sample_num(int): 
        model(sklearn model object): already trained model
        encoder(instance of DataGene): instance of DataGene, already fit 
    Return:
        model_samples(pandas DataFrame): generated samples + model prected labels
    """
    dataGene = DataGene(data, sample_num)
    new_samples = dataGene.get_samples()
    samplesInit = new_samples
    print(samplesInit)
    samples = num2cate(samplesInit)
    print(samplesInit)
    # model predict
    #print(samples)
    x_samples, _ = encoder.transform(samples)
    #print(x_samples.size)
    y_samples = knn.predict(x_samples)
    
    #  concate 
    model_samples = samples.copy()
    model_samples['class'] = pd.Series(np.asarray(y_samples), index= samples.index) 

    return model_samples, samplesInit

x,y = generate_model_samples(data,sample_number ,knn, encoder)
y

Index(['duration', 'credit_amount', 'installment_commitment',
       'residence_since', 'age', 'existing_credits', 'num_dependents'],
      dtype='object')
                        credit_history               purpose  \
0                  no credits/all paid               new car
1                        existing paid              radio/tv
2                   delayed previously                 other
3                      'existing paid'             education
4                'no credits/all paid'               new car
5                 'delayed previously'            retraining
6                   delayed previously                 other
7                 'delayed previously'               repairs
8                             all paid  'domestic appliance'
9                 'delayed previously'            retraining
10                          'all paid'              business
11                 no credits/all paid              business
12                            all paid            retraining
13                       existing paid            retraining
14    'critical/other existing credit'              radio/tv
15      critical/other existing credit               new car
16                            all paid            'used car'
17                 no credits/all paid               new car
18                            all paid    domestic appliance
19                          'all paid'  'domestic appliance'
20      critical/other existing credit    domestic appliance
21                       existing paid               new car
22                 no credits/all paid    domestic appliance
23      critical/other existing credit    domestic appliance
24                  delayed previously              used car
25               'no credits/all paid'             education
26                 no credits/all paid                 other
27                 no credits/all paid   furniture/equipment
28               'no credits/all paid'              radio/tv
29                          'all paid'              radio/tv
...                                ...                   ...
4970    critical/other existing credit    domestic appliance
4971                          all paid               repairs
4972                   'existing paid'             'new car'
4973              'delayed previously'              used car
4974                          all paid               repairs
4975                delayed previously              business
4976                     existing paid              used car
4977                        'all paid'               new car
4978                        'all paid'               new car
4979                          all paid             education
4980                          all paid             education
4981    critical/other existing credit             education
4982                   'existing paid'               repairs
4983                          all paid             education
4984              'delayed previously'             'new car'
4985  'critical/other existing credit'             education
4986                     existing paid              used car
4987              'delayed previously'            'used car'
4988    critical/other existing credit            retraining
4989              'delayed previously'   furniture/equipment
4990             'no credits/all paid'  'domestic appliance'
4991                   'existing paid'            'used car'
4992  'critical/other existing credit'             education
4993                delayed previously            retraining
4994             'no credits/all paid'            retraining
4995              'delayed previously'               new car
4996              'delayed previously'             education
4997              'delayed previously'             'new car'
4998                delayed previously               repairs
4999                   'existing paid'               new car

          savings_status       personal_status   other_parties  \
0                 '<100'        'male div/sep'       guarantor
1                 >=1000           male single  'co applicant'
2                   <100        'male div/sep'       guarantor
3               '>=1000'           male single    co applicant
4           '100<=X<500'        'male div/sep'  'co applicant'
5             100<=X<500    female div/dep/mar            none
6       no known savings        'male div/sep'            none
7                 '<100'         'male single'    co applicant
8               '>=1000'         'male single'    co applicant
9                 >=1000        'male mar/wid'       guarantor
10              '>=1000'        'male div/sep'  'co applicant'
11              '>=1000'        'male div/sep'  'co applicant'
12      no known savings  'female div/dep/mar'  'co applicant'
13         '500<=X<1000'           male single  'co applicant'
14                  <100         'male single'       guarantor
15                '<100'        'male div/sep'    co applicant
16                  <100           male single       guarantor
17      no known savings        'male mar/wid'  'co applicant'
18                  <100        'male div/sep'    co applicant
19         '500<=X<1000'           male single  'co applicant'
20      no known savings          male div/sep       guarantor
21    'no known savings'          male div/sep            none
22      no known savings    female div/dep/mar       guarantor
23                >=1000        'male mar/wid'            none
24          '100<=X<500'          male div/sep       guarantor
25            100<=X<500           male single       guarantor
26          '100<=X<500'          male mar/wid    co applicant
27    'no known savings'          male div/sep       guarantor
28          '100<=X<500'        'male mar/wid'    co applicant
29                >=1000           male single    co applicant
...                  ...                   ...             ...
4970  'no known savings'         'male single'  'co applicant'
4971              >=1000          male div/sep    co applicant
4972          100<=X<500          male mar/wid  'co applicant'
4973    no known savings          male div/sep            none
4974         500<=X<1000           male single       guarantor
4975         500<=X<1000           male single  'co applicant'
4976       '500<=X<1000'        'male div/sep'            none
4977    no known savings        'male div/sep'       guarantor
4978  'no known savings'         'male single'       guarantor
4979         500<=X<1000          male div/sep            none
4980        '100<=X<500'          male div/sep  'co applicant'
4981              '<100'        'male div/sep'  'co applicant'
4982                <100        'male div/sep'    co applicant
4983       '500<=X<1000'          male div/sep  'co applicant'
4984              >=1000           male single       guarantor
4985              '<100'          male mar/wid            none
4986              '<100'  'female div/dep/mar'    co applicant
4987                <100        'male mar/wid'  'co applicant'
4988       '500<=X<1000'  'female div/dep/mar'            none
4989  'no known savings'          male div/sep            none
4990                <100    female div/dep/mar  'co applicant'
4991                <100          male mar/wid    co applicant
4992                <100        'male div/sep'            none
4993       '500<=X<1000'          male div/sep    co applicant
4994         500<=X<1000          male mar/wid            none
4995  'no known savings'  'female div/dep/mar'       guarantor
4996          100<=X<500        'male mar/wid'  'co applicant'
4997          100<=X<500  'female div/dep/mar'  'co applicant'
4998       '500<=X<1000'        'male div/sep'       guarantor
4999              >=1000           male single    co applicant

       property_magnitude other_payment_plans     housing  \
0          life insurance                bank  'for free'
1                     car                none  'for free'
2        'life insurance'                none  'for free'
3       no known property                none    for free
4       no known property              stores    for free
5        'life insurance'              stores  'for free'
6          life insurance              stores  'for free'
7        'life insurance'                bank         own
8                     car                none  'for free'
9        'life insurance'                none        rent
10    'no known property'              stores    for free
11         life insurance                bank        rent
12         life insurance              stores    for free
13       'life insurance'                none  'for free'
14         life insurance                none  'for free'
15            real estate                none         own
16      no known property              stores  'for free'
17       'life insurance'                none    for free
18          'real estate'                none  'for free'
19    'no known property'                none         own
20          'real estate'              stores    for free
21         life insurance                none        rent
22            real estate                none         own
23            real estate              stores    for free
24                    car              stores        rent
25         life insurance              stores        rent
26            real estate              stores  'for free'
27          'real estate'              stores         own
28      no known property              stores         own
29                    car              stores  'for free'
...                   ...                 ...         ...
4970        'real estate'              stores        rent
4971                  car                none    for free
4972  'no known property'                none        rent
4973     'life insurance'                bank         own
4974                  car              stores  'for free'
4975        'real estate'              stores         own
4976  'no known property'                bank    for free
4977          real estate                bank         own
4978    no known property              stores         own
4979                  car                none    for free
4980       life insurance              stores        rent
4981        'real estate'                none         own
4982       life insurance                bank        rent
4983  'no known property'                none  'for free'
4984     'life insurance'                none  'for free'
4985       life insurance                none  'for free'
4986        'real estate'                none    for free
4987          real estate                bank  'for free'
4988        'real estate'              stores    for free
4989  'no known property'                bank    for free
4990        'real estate'                bank        rent
4991    no known property                none        rent
4992        'real estate'                bank  'for free'
4993     'life insurance'                bank    for free
4994          real estate                none         own
4995       life insurance                bank         own
4996                  car              stores         own
4997        'real estate'                none         own
4998  'no known property'              stores    for free
4999    no known property              stores  'for free'

                              job own_telephone     ...     class duration  \
0       high qualif/self emp/mgmt           yes     ...      good       54
1                         skilled          none     ...       bad       26
2              unskilled resident           yes     ...       bad       26
3                         skilled          none     ...      good       36
4              unskilled resident           yes     ...      good       30
5              unskilled resident          none     ...      good        5
6              unskilled resident           yes     ...       bad       30
7       high qualif/self emp/mgmt           yes     ...       bad       27
8       high qualif/self emp/mgmt          none     ...      good       28
9     'high qualif/self emp/mgmt'          none     ...      good       21
10      'unemp/unskilled non res'          none     ...      good       36
11                        skilled           yes     ...      good       21
12                        skilled           yes     ...       bad       16
13    'high qualif/self emp/mgmt'           yes     ...       bad       12
14    'high qualif/self emp/mgmt'           yes     ...       bad       27
15             unskilled resident          none     ...       bad       16
16                        skilled          none     ...       bad       28
17             unskilled resident          none     ...      good       20
18      'unemp/unskilled non res'           yes     ...      good        7
19      high qualif/self emp/mgmt          none     ...       bad       28
20           'unskilled resident'          none     ...       bad       18
21        unemp/unskilled non res           yes     ...       bad       11
22      high qualif/self emp/mgmt          none     ...      good       10
23    'high qualif/self emp/mgmt'          none     ...      good        5
24             unskilled resident           yes     ...      good       18
25             unskilled resident           yes     ...      good       39
26             unskilled resident          none     ...       bad       33
27                        skilled           yes     ...       bad        8
28      'unemp/unskilled non res'          none     ...       bad       30
29                        skilled           yes     ...      good       48
...                           ...           ...     ...       ...      ...
4970    'unemp/unskilled non res'          none     ...      good       33
4971      unemp/unskilled non res          none     ...      good       45
4972         'unskilled resident'           yes     ...       bad       15
4973                      skilled           yes     ...      good       27
4974           unskilled resident           yes     ...      good       36
4975         'unskilled resident'          none     ...      good       16
4976  'high qualif/self emp/mgmt'          none     ...      good       13
4977         'unskilled resident'          none     ...       bad       33
4978                      skilled           yes     ...       bad       26
4979    'unemp/unskilled non res'          none     ...       bad       48
4980    high qualif/self emp/mgmt           yes     ...      good        8
4981  'high qualif/self emp/mgmt'          none     ...      good       16
4982    high qualif/self emp/mgmt          none     ...      good        5
4983         'unskilled resident'           yes     ...      good       22
4984      unemp/unskilled non res           yes     ...      good        9
4985    high qualif/self emp/mgmt           yes     ...       bad       22
4986    high qualif/self emp/mgmt           yes     ...      good       54
4987  'high qualif/self emp/mgmt'          none     ...       bad       72
4988    'unemp/unskilled non res'           yes     ...      good       14
4989                      skilled           yes     ...      good       18
4990  'high qualif/self emp/mgmt'          none     ...      good       48
4991    'unemp/unskilled non res'          none     ...      good        9
4992      unemp/unskilled non res          none     ...       bad       12
4993    'unemp/unskilled non res'           yes     ...      good       24
4994                      skilled           yes     ...       bad       12
4995  'high qualif/self emp/mgmt'           yes     ...      good       30
4996  'high qualif/self emp/mgmt'           yes     ...       bad       48
4997  'high qualif/self emp/mgmt'           yes     ...       bad       33
4998           unskilled resident           yes     ...       bad       39
4999         'unskilled resident'          none     ...       bad       33

      credit_amount  installment_commitment  residence_since  age  \
0              1471                       1                4   74
1             11590                       2                2   49
2              5234                       4                4   70
3              2746                       3                3   20
4              1237                       3                2   46
5              3108                       3                4   54
6              3416                       1                4   64
7              3650                       1                4   41
8              1980                       3                3   41
9              1288                       3                1   29
10             1330                       4                4   20
11             1103                       4                1   65
12             2133                       1                4   42
13             6304                       4                2   41
14             1797                       1                4   66
15             2872                       2                1   62
16             3062                       1                3   65
17             2831                       3                4   48
18             3617                       1                3   32
19             3069                       4                4   59
20             6742                       4                3   66
21             2278                       4                2   34
22             1835                       1                4   45
23             4351                       2                1   56
24              907                       4                4   27
25             3660                       1                2   21
26             2901                       2                2   27
27             2121                       3                4   60
28             2315                       2                3   29
29             8318                       4                3   64
...             ...                     ...              ...  ...
4970           9055                       2                2   24
4971           1913                       2                3   27
4972           2100                       3                3   60
4973           3643                       3                1   41
4974           2186                       1                2   40
4975           6229                       2                1   31
4976           5096                       4                1   31
4977           7629                       4                3   64
4978           3447                       2                2   22
4979           2775                       1                3   50
4980           7865                       2                4   53
4981           3029                       4                3   22
4982           2323                       3                1   70
4983           5743                       3                3   66
4984          12204                       4                1   62
4985           1323                       4                3   44
4986           1455                       1                4   33
4987           5965                       4                1   51
4988           1358                       4                1   45
4989           1185                       1                4   57
4990           2978                       3                4   31
4991           2389                       4                3   62
4992           1823                       4                4   52
4993           1207                       2                2   34
4994           4933                       3                4   57
4995            639                       3                2   55

c:\users\hp\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,credit_history,purpose,savings_status,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job,own_telephone,...,class,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status,employment
0,no credits/all paid,new car,'<100','male div/sep',guarantor,life insurance,bank,'for free',high qualif/self emp/mgmt,yes,...,good,54,1471,1,4,74,2,2,no checking,'<1'
1,existing paid,radio/tv,>=1000,male single,'co applicant',car,none,'for free',skilled,none,...,bad,26,11590,2,2,49,1,2,'>=200','>=7'
2,delayed previously,other,<100,'male div/sep',guarantor,'life insurance',none,'for free',unskilled resident,yes,...,bad,26,5234,4,4,70,3,2,'<0',<1
3,'existing paid',education,'>=1000',male single,co applicant,no known property,none,for free,skilled,none,...,good,36,2746,3,3,20,1,2,no checking,'4<=X<7'
4,'no credits/all paid',new car,'100<=X<500','male div/sep','co applicant',no known property,stores,for free,unskilled resident,yes,...,good,30,1237,3,2,46,4,1,'0<=X<200',<1
5,'delayed previously',retraining,100<=X<500,female div/dep/mar,none,'life insurance',stores,'for free',unskilled resident,none,...,good,5,3108,3,4,54,3,2,<0,>=7
6,delayed previously,other,no known savings,'male div/sep',none,life insurance,stores,'for free',unskilled resident,yes,...,bad,30,3416,1,4,64,1,2,>=200,'1<=X<4'
7,'delayed previously',repairs,'<100','male single',co applicant,'life insurance',bank,own,high qualif/self emp/mgmt,yes,...,bad,27,3650,1,4,41,3,2,0<=X<200,'>=7'
8,all paid,'domestic appliance','>=1000','male single',co applicant,car,none,'for free',high qualif/self emp/mgmt,none,...,good,28,1980,3,3,41,4,2,'0<=X<200','<1'
9,'delayed previously',retraining,>=1000,'male mar/wid',guarantor,'life insurance',none,rent,'high qualif/self emp/mgmt',none,...,good,21,1288,3,1,29,2,2,no checking,<1
10,'all paid',business,'>=1000','male div/sep','co applicant','no known property',stores,for free,'unemp/unskilled non res',none,...,good,36,1330,4,4,20,4,2,<0,4<=X<7
11,no credits/all paid,business,'>=1000','male div/sep','co applicant',life insurance,bank,rent,skilled,yes,...,good,21,1103,4,1,65,1,2,'no checking','1<=X<4'
12,all paid,retraining,no known savings,'female div/dep/mar','co applicant',life insurance,stores,for free,skilled,yes,...,bad,16,2133,1,4,42,1,2,'<0','4<=X<7'
13,existing paid,retraining,'500<=X<1000',male single,'co applicant','life insurance',none,'for free','high qualif/self emp/mgmt',yes,...,bad,12,6304,4,2,41,3,1,0<=X<200,1<=X<4
14,'critical/other existing credit',radio/tv,<100,'male single',guarantor,life insurance,none,'for free','high qualif/self emp/mgmt',yes,...,bad,27,1797,1,4,66,4,1,'0<=X<200',1<=X<4
15,critical/other existing credit,new car,'<100','male div/sep',co applicant,real estate,none,own,unskilled resident,none,...,bad,16,2872,2,1,62,1,1,'0<=X<200','>=7'
16,all paid,'used car',<100,male single,guarantor,no known property,stores,'for free',skilled,none,...,bad,28,3062,1,3,65,1,1,>=200,'4<=X<7'
17,no credits/all paid,new car,no known savings,'male mar/wid','co applicant','life insurance',none,for free,unskilled resident,none,...,good,20,2831,3,4,48,3,2,0<=X<200,unemployed
18,all paid,domestic appliance,<100,'male div/sep',co applicant,'real estate',none,'for free','unemp/unskilled non res',yes,...,good,7,3617,1,3,32,2,1,no checking,unemployed
19,'all paid','domestic appliance','500<=X<1000',male single,'co applicant','no known property',none,own,high qualif/self emp/mgmt,none,...,bad,28,3069,4,4,59,1,2,'no checking','4<=X<7'
20,critical/other existing credit,domestic appliance,no known savings,male div/sep,guarantor,'real estate',stores,for free,'unskilled resident',none,...,bad,18,6742,4,3,66,2,2,no checking,4<=X<7
21,existing paid,new car,'no known savings',male div/sep,none,life insurance,none,rent,unemp/unskilled non res,yes,...,bad,11,2278,4,2,34,1,2,>=200,'>=7'
22,no credits/all paid,domestic appliance,no known savings,female div/dep/mar,guarantor,real estate,none,own,high qualif/self emp/mgmt,none,...,good,10,1835,1,4,45,4,2,'>=200','>=7'
23,critical/other existing credit,domestic appliance,>=1000,'male mar/wid',none,real estate,stores,for free,'high qualif/self emp/mgmt',none,...,good,5,4351,2,1,56,2,2,'no checking',unemployed
24,delayed previously,used car,'100<=X<500',male div/sep,guarantor,car,stores,rent,unskilled resident,yes,...,good,18,907,4,4,27,1,1,'no checking',4<=X<7
25,'no credits/all paid',education,100<=X<500,male single,guarantor,life insurance,stores,rent,unskilled resident,yes,...,good,39,3660,1,2,21,2,1,'no checking','1<=X<4'
26,no credits/all paid,other,'100<=X<500',male mar/wid,co applicant,real estate,stores,'for free',unskilled resident,none,...,bad,33,2901,2,2,27,3,2,'0<=X<200','<1'
27,no credits/all paid,furniture/equipment,'no known savings',male div/sep,guarantor,'real estate',stores,own,skilled,yes,...,bad,8,2121,3,4,60,3,2,'no checking',>=7
28,'no credits/all paid',radio/tv,'100<=X<500','male mar/wid',co applicant,no known property,stores,own,'unemp/unskilled non res',none,...,bad,30,2315,2,3,29,1,1,no checking,4<=X<7
29,'all paid',radio/tv,>=1000,male single,co applicant,car,stores,'for free',skilled,yes,...,good,48,8318,4,3,64,2,2,'<0',unemployed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,critical/other existing credit,domestic appliance,'no known savings','male single','co applicant','real estate',stores,rent,'unemp/unskilled non res',none,...,good,33,9055,2,2,24,3,2,'<0',>=7
4971,all paid,repairs,>=1000,male div/sep,co applicant,car,none,for free,unemp/unskilled non res,none,...,good,45,1913,2,3,27,1,1,'>=200',4<=X<7
4972,'existing paid','new car',100<=X<500,male mar/wid,'co applicant','no known property',none,rent,'unskilled resident',yes,...,bad,15,2100,3,3,60,4,2,0<=X<200,4<=X<7
4973,'delayed previously',used car,no known savings,male div/sep,none,'life insurance',bank,own,skilled,yes,...,good,27,3643,3,1,41,2,1,'no checking','1<=X<4'
4974,all paid,repairs,500<=X<1000,male single,guarantor,car,stores,'for free',unskilled resident,yes,...,good,36,2186,1,2,40,4,1,'<0','4<=X<7'
4975,delayed previously,business,500<=X<1000,male single,'co applicant','real estate',stores,own,'unskilled resident',none,...,good,16,6229,2,1,31,3,2,>=200,>=7
4976,existing paid,used car,'500<=X<1000','male div/sep',none,'no known property',bank,for free,'high qualif/self emp/mgmt',none,...,good,13,5096,4,1,31,2,1,>=200,<1
4977,'all paid',new car,no known savings,'male div/sep',guarantor,real estate,bank,own,'unskilled resident',none,...,bad,33,7629,4,3,64,2,2,<0,4<=X<7
4978,'all paid',new car,'no known savings','male single',guarantor,no known property,stores,own,skilled,yes,...,bad,26,3447,2,2,22,2,2,>=200,'1<=X<4'
4979,all paid,education,500<=X<1000,male div/sep,none,car,none,for free,'unemp/unskilled non res',none,...,bad,48,2775,1,3,50,4,1,0<=X<200,4<=X<7
4980,all paid,education,'100<=X<500',male div/sep,'co applicant',life insurance,stores,rent,high qualif/self emp/mgmt,yes,...,good,8,7865,2,4,53,4,2,no checking,'<1'
4981,critical/other existing credit,education,'<100','male div/sep','co applicant','real estate',none,own,'high qualif/self emp/mgmt',none,...,good,16,3029,4,3,22,3,2,'>=200',4<=X<7
4982,'existing paid',repairs,<100,'male div/sep',co applicant,life insurance,bank,rent,high qualif/self emp/mgmt,none,...,good,5,2323,3,1,70,4,1,'no checking','<1'
4983,all paid,education,'500<=X<1000',male div/sep,'co applicant','no known property',none,'for free','unskilled resident',yes,...,good,22,5743,3,3,66,4,2,'no checking',<1
4984,'delayed previously','new car',>=1000,male single,guarantor,'life insurance',none,'for free',unemp/unskilled non res,yes,...,good,9,12204,4,1,62,3,2,'0<=X<200','1<=X<4'
4985,'critical/other existing credit',education,'<100',male mar/wid,none,life insurance,none,'for free',high qualif/self emp/mgmt,yes,...,bad,22,1323,4,3,44,3,2,no checking,4<=X<7
4986,existing paid,used car,'<100','female div/dep/mar',co applicant,'real estate',none,for free,high qualif/self emp/mgmt,yes,...,good,54,1455,1,4,33,3,2,'<0','1<=X<4'
4987,'delayed previously','used car',<100,'male mar/wid','co applicant',real estate,bank,'for free','high qualif/self emp/mgmt',none,...,bad,72,5965,4,1,51,3,1,>=200,'1<=X<4'
4988,critical/other existing credit,retraining,'500<=X<1000','female div/dep/mar',none,'real estate',stores,for free,'unemp/unskilled non res',yes,...,good,14,1358,4,1,45,1,2,>=200,4<=X<7
4989,'delayed previously',furniture/equipment,'no known savings',male div/sep,none,'no known property',bank,for free,skilled,yes,...,good,18,1185,1,4,57,1,1,>=200,'<1'
4990,'no credits/all paid','domestic appliance',<100,female div/dep/mar,'co applicant','real estate',bank,rent,'high qualif/self emp/mgmt',none,...,good,48,2978,3,4,31,1,1,'0<=X<200',1<=X<4
4991,'existing paid','used car',<100,male mar/wid,co applicant,no known property,none,rent,'unemp/unskilled non res',none,...,good,9,2389,4,3,62,4,1,'0<=X<200','<1'
4992,'critical/other existing credit',education,<100,'male div/sep',none,'real estate',bank,'for free',unemp/unskilled non res,none,...,bad,12,1823,4,4,52,3,1,'>=200','4<=X<7'
4993,delayed previously,retraining,'500<=X<1000',male div/sep,co applicant,'life insurance',bank,for free,'unemp/unskilled non res',yes,...,good,24,1207,2,2,34,2,2,no checking,4<=X<7
4994,'no credits/all paid',retraining,500<=X<1000,male mar/wid,none,real estate,none,own,skilled,yes,...,bad,12,4933,3,4,57,4,2,<0,1<=X<4
4995,'delayed previously',new car,'no known savings','female div/dep/mar',guarantor,life insurance,bank,own,'high qualif/self emp/mgmt',yes,...,good,30,639,3,2,55,3,2,no checking,unemployed
4996,'delayed previously',education,100<=X<500,'male mar/wid','co applicant',car,stores,own,'high qualif/self emp/mgmt',yes,...,bad,48,3643,1,3,66,4,1,'0<=X<200',4<=X<7
4997,'delayed previously','new car',100<=X<500,'female div/dep/mar','co applicant','real estate',none,own,'high qualif/self emp/mgmt',yes,...,bad,33,2899,1,2,45,1,1,'>=200',unemployed
4998,delayed previously,repairs,'500<=X<1000','male div/sep',guarantor,'no known property',stores,for free,unskilled resident,yes,...,bad,39,1413,2,4,33,2,1,<0,>=7
4999,'existing paid',new car,>=1000,male single,co applicant,no known property,stores,'for free','unskilled resident',none,...,bad,33,7374,4,2,23,3,1,'0<=X<200','>=7'