In [1]:
import pandas as pd 
import math
from joblib import dump, load
import random
import re
import copy
import json
import os
cache_path = './cache'
protect_attr='sex'
class FindGroups(object):   
    def __init__(self, key_vals):
        '''
        Args: 
            key_vals(dict): e.g., {'atrribute_a':['a', 'b', 'c'], 'attribute_b': ['m', 'n', 'k']}
            depth(int): recursive depth
            index(dict): the choosen value of each key attribute. e.g.,  {'atrribute_a':'a', 'attribute_b': 'k'}
            key_groups: a list of index
        '''
        self.key_vals = key_vals
        self.key_attrs = [k for k in key_vals]
        self.key_groups = []
        self.generate_groups( 0, {} )
        
        

    def generate_groups(self,  depth, index):
        '''
        a recursive function to find the attribute constraints of the key groups
            e.g., 
            [
                {'atrribute_a':'a', 'attribute_b': 'm'},
                {'atrribute_a':'a', 'attribute_b': 'n'},
                {'atrribute_a':'b', 'attribute_b': 'm'},
                {'atrribute_a':'b', 'attribute_b': 'n'}
            ]
        Args: 
            key_vals(dict): e.g., {'atrribute_a':['a', 'b', 'c'], 'attribute_b': ['m', 'n', 'k']}
            depth(int): recursive depth
            index(dict): the choosen value of each key attribute. e.g.,  {'atrribute_a':'a', 'attribute_b': 'k'}
            key_groups: a list of index
        '''

        for k in self.key_vals[ self.key_attrs[depth] ]:
            index_ = copy.deepcopy(index)
            index_[self.key_attrs[depth]] = k
            if depth < len(self.key_attrs)-1: 
                depth_ = depth+1 
                self.generate_groups(depth_, index_)
            else:
                self.key_groups.append(index_)
            #print(self.key_groups)

    def locate_items(self, model_samples, protect_attr):
        protect_vals = list(set(model_samples[protect_attr]))
        for i, group in enumerate(self.key_groups):
            group_items = model_samples.copy()
            for attr in group:
                group_items = group_items.loc[group_items[attr]==group[attr]]
            self.key_groups[i]['items'] =  group_items.index.tolist()
            score = []
            #print(protect_vals)
            if len(group_items)>0:
                for val in protect_vals:
                    # based on protected attribute
                    # self.key_groups[i]['items'][val] =  {}
                    group_items_ = group_items.loc[group_items[protect_attr] == val]
                    if len(group_items_)>0:
                        group_reject = group_items_.loc[group_items_['class'] == 0]
                        group_accept = group_items_.loc[group_items_['class'] == 1]
                        p_0 = len(group_reject)/len(group_items_)
                        p_1 = len(group_accept)/len(group_items_)
                        score.append(p_1)
                        # self.key_groups[i]['items'][val]['reject'] = group_reject.index.tolist()
                        # self.key_groups[i]['items'][val]['reject'] = group_reject.index.tolist()
                        # print(val, "{:.2f}".format(p_0), "{:.2f}".format(p_1), len(group_items_)) 
            if(score==[]):
                self.key_groups[i]['score'] =  0
            elif(len(score)==1):
                self.key_groups[i]['score'] =  abs(score[0])
            else:
                self.key_groups[i]['score'] =  abs(score[0]-score[1])
            self.key_groups[i]['scores'] =  score
        self.key_groups.sort(key=lambda x: x['score'] , reverse=True)
        return self.key_groups

In [2]:
def findRange(thresholds, v):
    for i, th in enumerate(thresholds):
        if(v <= th):
            if i==0:
                return "x<{}".format(th)
            elif i == len(thresholds)-1:
                return "x>{}".format(thresholds[i-1])
            else:
                return "{}<x<{}".format(thresholds[i-1], thresholds[i])

def convert_cate(arr):
    n = 4 #parts to be divided
    maxValue = max(arr)
    minValue = min(arr)
    thresholds = [ math.floor(i*(maxValue-minValue)/n)+minValue for i in range(n+1)]

    #print([findRange(thresholds, i) for i in arr])
    
    return pd.Series([findRange(thresholds, i) for i in arr])


def num2cate(dataIn):
    df = dataIn[:]
#     new_data = pd.DataFrame()
    for k in df.columns:
        if(k in df.select_dtypes(include=['int64'])):
            values = pd.to_numeric(df[k])
            df[k] = convert_cate(values.tolist())
        
    return df

In [3]:
    dataset_path = '../data/dataTest.csv'
    data = pd.read_csv(dataset_path)
    data = num2cate(data)

    # get model samples
    sample_path = os.path.join(cache_path, 'dataTest_knn_samples.csv')
    model_samples = pd.read_csv(sample_path)
    key_attrs = ['relationship','race','education_num']

    key_vals = {}
    key_groups = []
    
    for key_attr in key_attrs:
            key_vals[key_attr] = list(set(data[key_attr]))
    
    if(key_vals):
        findGroups = FindGroups(key_vals)
        key_groups = findGroups.locate_items(model_samples, protect_attr)
    
    key_groups

[{'relationship': ' Unmarried',
  'race': ' White',
  'education_num': 'x<1',
  'items': [266, 1972, 1995],
  'score': 1.0,
  'scores': [1.0]},
 {'relationship': ' Not_in_family',
  'race': ' Asian_Pac_Islander',
  'education_num': 'x<1',
  'items': [241, 455],
  'score': 1.0,
  'scores': [1.0]},
 {'relationship': ' Husband',
  'race': ' Asian_Pac_Islander',
  'education_num': '8<x<12',
  'items': [50,
   224,
   598,
   646,
   796,
   833,
   925,
   1074,
   1565,
   1700,
   1876,
   1913,
   1968,
   2080,
   2174,
   2178,
   2201,
   2294,
   2364],
  'score': 0.6888888888888889,
  'scores': [0.1111111111111111, 0.8]},
 {'relationship': ' Husband',
  'race': ' Other',
  'education_num': 'x>12',
  'items': [301,
   332,
   335,
   458,
   470,
   519,
   520,
   670,
   734,
   896,
   943,
   978,
   1103,
   1146,
   1168,
   1215,
   1229,
   1342,
   1426,
   1584,
   1608,
   1614,
   1757,
   1869,
   2427,
   2467,
   2567,
   2570,
   2734,
   2817,
   2971],
  'score': 0.6272727272727273,
  'scores': [0.1, 0.7272727272727273]},
 {'relationship': ' Husband',
  'race': ' White',
  'education_num': 'x>12',
  'items': [428,
   666,
   721,
   724,
   1326,
   1355,
   1469,
   1475,
   1547,
   1609,
   1727,
   1770,
   1951,
   2158,
   2165,
   2276,
   2470,
   2589,
   2785],
  'score': 0.6153846153846154,
  'scores': [0.0, 0.6153846153846154]},
 {'relationship': ' Husband',
  'race': ' Amer_Indian_Eskimo',
  'education_num': '8<x<12',
  'items': [35,
   124,
   152,
   161,
   174,
   233,
   235,
   264,
   356,
   388,
   473,
   582,
   637,
   693,
   709,
   841,
   866,
   907,
   994,
   1014,
   1280,
   1294,
   1320,
   1416,
   1491,
   1521,
   1566,
   1810,
   1874,
   1969,
   2596],
  'score': 0.40454545454545454,
  'scores': [0.5454545454545454, 0.95]},
 {'relationship': ' Unmarried',
  'race': ' Asian_Pac_Islander',
  'education_num': 'x>12',
  'items': [4,
   122,
   451,
   477,
   563,
   672,
   784,
   1113,
   1123,
   1150,
   1187,
   1255,
   1387,
   1452,
   1480,
   1808,
   1908,
   2041,
   2061,
   2091,
   2094,
   2227,
   2243,
   2265,
   2369,
   2557,
   2560,
   2645,
   2864],
  'score': 0.4,
  'scores': [0.6, 1.0]},
 {'relationship': ' Husband',
  'race': ' Black',
  'education_num': 'x>12',
  'items': [245,
   319,
   343,
   422,
   698,
   799,
   805,
   813,
   1029,
   1190,
   1462,
   1583,
   1587,
   1826,
   2190,
   2195,
   2197,
   2207,
   2210,
   2246,
   2331,
   2437,
   2536,
   2592,
   2666,
   2701],
  'score': 0.369047619047619,
  'scores': [0.4166666666666667, 0.7857142857142857]},
 {'relationship': ' Unmarried',
  'race': ' Other',
  'education_num': 'x>12',
  'items': [173,
   211,
   398,
   544,
   547,
   560,
   747,
   855,
   897,
   1236,
   1344,
   1378,
   1424,
   1477,
   1620,
   1668,
   1702,
   1756,
   1773,
   1778,
   2039,
   2292,
   2599,
   2842,
   2869],
  'score': 0.36363636363636365,
  'scores': [0.6363636363636364, 1.0]},
 {'relationship': ' Own_child',
  'race': ' Amer_Indian_Eskimo',
  'education_num': 'x>12',
  'items': [32,
   445,
   516,
   550,
   738,
   798,
   803,
   858,
   967,
   999,
   1111,
   1338,
   1372,
   1396,
   1457,
   1641,
   1687,
   1690,
   1925,
   1989,
   2032,
   2063,
   2070,
   2141,
   2219,
   2277,
   2342,
   2431,
   2758,
   2837],
  'score': 0.35,
  'scores': [0.65, 1.0]},
 {'relationship': ' Other_relative',
  'race': ' Asian_Pac_Islander',
  'education_num': 'x>12',
  'items': [135,
   143,
   627,
   695,
   838,
   852,
   922,
   1183,
   1288,
   1633,
   2043,
   2126,
   2659,
   2791,
   2832,
   2889,
   2956],
  'score': 0.33333333333333337,
  'scores': [0.6666666666666666, 1.0]},
 {'relationship': ' Husband',
  'race': ' Asian_Pac_Islander',
  'education_num': 'x>12',
  'items': [389,
   391,
   608,
   621,
   995,
   1056,
   1163,
   1305,
   1420,
   1461,
   1488,
   1552,
   1642,
   1669,
   1693,
   1853,
   2083,
   2101,
   2359,
   2458,
   2498,
   2664,
   2910,
   2927,
   2989,
   2993],
  'score': 0.30769230769230765,
  'scores': [0.23076923076923078, 0.5384615384615384]},
 {'relationship': ' Wife',
  'race': ' Asian_Pac_Islander',
  'education_num': 'x>12',
  'items': [17,
   100,
   189,
   212,
   327,
   392,
   430,
   503,
   631,
   663,
   688,
   792,
   846,
   850,
   983,
   1003,
   1263,
   1276,
   1379,
   1549,
   1749,
   1762,
   1799,
   1825,
   1842,
   2130,
   2209,
   2234,
   2269,
   2459,
   2628,
   2728,
   2793,
   2870],
  'score': 0.2941176470588235,
  'scores': [0.47058823529411764, 0.7647058823529411]},
 {'relationship': ' Other_relative',
  'race': ' Black',
  'education_num': 'x>12',
  'items': [192,
   346,
   606,
   791,
   807,
   909,
   981,
   1025,
   1057,
   1243,
   1269,
   1604,
   1780,
   1802,
   2015,
   2025,
   2237,
   2286,
   2385,
   2519,
   2693,
   2709],
  'score': 0.2857142857142857,
  'scores': [0.7142857142857143, 1.0]},
 {'relationship': ' Husband',
  'race': ' Amer_Indian_Eskimo',
  'education_num': 'x>12',
  'items': [24,
   55,
   246,
   900,
   1143,
   1258,
   1429,
   1431,
   1553,
   1571,
   1983,
   2208,
   2220,
   2270,
   2284,
   2328,
   2386,
   2402,
   2496,
   2670,
   2790,
   2809,
   2868],
  'score': 0.2833333333333333,
  'scores': [0.4666666666666667, 0.75]},
 {'relationship': ' Unmarried',
  'race': ' White',
  'education_num': 'x>12',
  'items': [222,
   373,
   530,
   668,
   716,
   771,
   1202,
   1206,
   1357,
   1463,
   1467,
   1601,
   1709,
   1820,
   1999,
   2228,
   2513,
   2913],
  'score': 0.25,
  'scores': [0.75, 1.0]},
 {'relationship': ' Wife',
  'race': ' Asian_Pac_Islander',
  'education_num': '8<x<12',
  'items': [27,
   34,
   57,
   322,
   362,
   604,
   661,
   940,
   952,
   987,
   1040,
   1356,
   1605,
   1640,
   2115,
   2121,
   2264,
   2963,
   2964],
  'score': 0.25,
  'scores': [0.75, 1.0]},
 {'relationship': ' Other_relative',
  'race': ' White',
  'education_num': 'x>12',
  'items': [228,
   286,
   374,
   682,
   892,
   1038,
   1231,
   1246,
   1257,
   1374,
   1459,
   1471,
   1487,
   1623,
   1831,
   1903,
   2266,
   2300,
   2378,
   2409,
   2442,
   2533,
   2704,
   2721,
   2799,
   2812,
   2957,
   2983],
  'score': 0.24615384615384617,
  'scores': [0.6, 0.8461538461538461]},
 {'relationship': ' Other_relative',
  'race': ' Other',
  'education_num': '8<x<12',
  'items': [109,
   294,
   310,
   417,
   916,
   945,
   956,
   1009,
   1167,
   1174,
   1441,
   1468,
   1531,
   1537,
   1815,
   1855,
   2054,
   2093,
   2242,
   2515,
   2565,
   2802,
   2803,
   2996],
  'score': 0.23076923076923073,
  'scores': [0.7692307692307693, 1.0]},
 {'relationship': ' Husband',
  'race': ' Asian_Pac_Islander',
  'education_num': '4<x<8',
  'items': [120,
   188,
   379,
   487,
   764,
   815,
   924,
   1144,
   1228,
   1341,
   1397,
   1510,
   1589,
   1720,
   1734,
   1789,
   1814,
   1856,
   1894,
   2045,
   2223,
   2245,
   2373,
   2412,
   2509,
   2818,
   2907,
   2967],
  'score': 0.20833333333333337,
  'scores': [0.6666666666666666, 0.875]},
 {'relationship': ' Other_relative',
  'race': ' White',
  'education_num': '8<x<12',
  'items': [14,
   437,
   466,
   641,
   835,
   905,
   1000,
   1189,
   1244,
   1259,
   1364,
   1473,
   1613,
   1646,
   1788,
   2151,
   2216,
   2584,
   2607,
   2656,
   2729,
   2731,
   2792,
   2865],
  'score': 0.18181818181818177,
  'scores': [0.8181818181818182, 1.0]},
 {'relationship': ' Own_child',
  'race': ' Asian_Pac_Islander',
  'education_num': 'x>12',
  'items': [36,
   56,
   97,
   141,
   309,
   384,
   431,
   476,
   564,
   865,
   1018,
   1470,
   1545,
   1791,
   1887,
   1938,
   2251,
   2310,
   2478,
   2527,
   2595,
   2811],
  'score': 0.16666666666666663,
  'scores': [0.8333333333333334, 1.0]},
 {'relationship': ' Unmarried',
  'race': ' Amer_Indian_Eskimo',
  'education_num': 'x>12',
  'items': [145,
   253,
   273,
   345,
   409,
   667,
   772,
   782,
   808,
   1047,
   1170,
   1315,
   1388,
   1551,
   1666,
   1866,
   1875,
   1911,
   1965,
   1986,
   2202,
   2263,
   2397,
   2678,
   2944],
  'score': 0.15384615384615385,
  'scores': [0.8461538461538461, 1.0]},
 {'relationship': ' Wife',
  'race': ' Other',
  'education_num': 'x>12',
  'items': [61,
   99,
   107,
   142,
   383,
   411,
   532,
   578,
   665,
   683,
   704,
   829,
   877,
   1195,
   1222,
   1314,
   1331,
   1365,
   1522,
   2120,
   2128,
   2173,
   2323,
   2710,
   2946,
   2969],
  'score': 0.1454545454545454,
  'scores': [0.5454545454545454, 0.4]},
 {'relationship': ' Wife',
  'race': ' Other',
  'education_num': '8<x<12',
  'items': [54,
   280,
   353,
   554,
   603,
   650,
   652,
   844,
   998,
   1063,
   1095,
   1157,
   1268,
   1296,
   1304,
   1348,
   1490,
   1540,
   1611,
   1691,
   1793,
   2027,
   2090,
   2149,
   2337,
   2356,
   2419,
   2800,
   2880,
   2918],
  'score': 0.13122171945701355,
  'scores': [0.8235294117647058, 0.6923076923076923]},
 {'relationship': ' Husband',
  'race': ' Amer_Indian_Eskimo',
  'education_num': '4<x<8',
  'items': [76,
   148,
   175,
   410,
   510,
   692,
   717,
   749,
   946,
   1085,
   1139,
   1274,
   1380,
   1444,
   1481,
   1597,
   1834,
   1870,
   2011,
   2260,
   2333,
   2520,
   2552,
   2631,
   2825],
  'score': 0.125,
  'scores': [0.875, 1.0]},
 {'relationship': ' Husband',
  'race': ' Black',
  'education_num': '8<x<12',
  'items': [436,
   481,
   494,
   599,
   809,
   1068,
   1133,
   1282,
   1334,
   1400,
   1405,
   1682,
   1683,
   1754,
   1805,
   1897,
   1958,
   1984,
   2072,
   2213,
   2287,
   2420,
   2473,
   2806,
   2853,
   2984],
  'score': 0.125,
  'scores': [0.875, 1.0]},
 {'relationship': ' Wife',
  'race': ' Other',
  'education_num': '1<x<4',
  'items': [115,
   485,
   505,
   561,
   793,
   828,
   1137,
   1548,
   2100,
   2578,
   2583,
   2604,
   2611,
   2777],
  'score': 0.125,
  'scores': [1.0, 0.875]},
 {'relationship': ' Wife',
  'race': ' Asian_Pac_Islander',
  'education_num': '1<x<4',
  'items': [21,
   106,
   162,
   181,
   236,
   307,
   536,
   662,
   751,
   794,
   845,
   904,
   1302,
   1557,
   1766,
   1784,
   1804,
   2357,
   2376,
   2450,
   2679,
   2757],
  'score': 0.125,
  'scores': [0.875, 1.0]},
 {'relationship': ' Unmarried',
  'race': ' Black',
  'education_num': 'x>12',
  'items': [207,
   299,
   361,
   676,
   894,
   941,
   1140,
   1506,
   1507,
   1659,
   1736,
   1755,
   1892,
   1922,
   2095,
   2125,
   2160,
   2164,
   2261,
   2380,
   2530,
   2605,
   2677,
   2716,
   2808,
   2979],
  'score': 0.11764705882352944,
  'scores': [0.8823529411764706, 1.0]},
 {'relationship': ' Husband',
  'race': ' White',
  'education_num': '8<x<12',
  'items': [129,
   259,
   297,
   316,
   377,
   478,
   504,
   566,
   602,
   605,
   700,
   766,
   774,
   899,
   1030,
   1164,
   1290,
   1321,
   1324,
   1710,
   1801,
   1881,
   2169,
   2445,
   2695,
   2936],
  'score': 0.11515151515151512,
  'scores': [0.8181818181818182, 0.9333333333333333]},
 {'relationship': ' Husband',
  'race': ' Other',
  'education_num': '1<x<4',
  'items': [254,
   506,
   677,
   822,
   964,
   1077,
   1090,
   1286,
   1368,
   1525,
   1606,
   1665,
   1783,
   1833,
   2316,
   2576],
  'score': 0.11111111111111116,
  'scores': [0.8888888888888888, 1.0]},
 {'relationship': ' Husband',
  'race': ' Asian_Pac_Islander',
  'education_num': '1<x<4',
  'items': [28,
   216,
   475,
   586,
   607,
   733,
   893,
   1299,
   1648,
   1688,
   1800,
   1930,
   2075,
   2114,
   2389,
   2689,
   2740,
   2834],
  'score': 0.11111111111111116,
  'scores': [0.8888888888888888, 1.0]},
 {'relationship': ' Other_relative',
  'race': ' White',
  'education_num': '4<x<8',
  'items': [10,
   157,
   305,
   697,
   968,
   1328,
   1656,
   1667,
   1906,
   1909,
   2049,
   2073,
   2079,
   2441,
   2735,
   2824],
  'score': 0.11111111111111116,
  'scores': [0.8888888888888888, 1.0]},
 {'relationship': ' Wife',
  'race': ' Amer_Indian_Eskimo',
  'education_num': '1<x<4',
  'items': [369,
   713,
   788,
   954,
   1012,
   1109,
   1194,
   1333,
   1406,
   1560,
   1722,
   2088,
   2135,
   2146,
   2511,
   2736,
   2861,
   2959,
   2970],
  'score': 0.11111111111111116,
  'scores': [0.8888888888888888, 1.0]},
 {'relationship': ' Not_in_family',
  'race': ' Asian_Pac_Islander',
  'education_num': 'x>12',
  'items': [209,
   306,
   382,
   420,
   567,
   951,
   1067,
   1079,
   1091,
   1126,
   1267,
   1313,
   1332,
   1373,
   1453,
   1555,
   1599,
   1650,
   1902,
   2064,
   2124,
   2127,
   2279,
   2303,
   2329,
   2344,
   2469,
   2543,
   2562,
   2662],
  'score': 0.11111111111111105,
  'scores': [0.8333333333333334, 0.9444444444444444]},
 {'relationship': ' Wife',
  'race': ' Amer_Indian_Eskimo',
  'education_num': '8<x<12',
  'items': [261,
   291,
   298,
   378,
   509,
   862,
   891,
   1059,
   1116,
   1176,
   1200,
   1275,
   1278,
   1496,
   1730,
   1857,
   1860,
   2051,
   2133,
   2221,
   2320,
   2517,
   2544,
   2749,
   2784],
  'score': 0.10389610389610393,
  'scores': [0.7142857142857143, 0.8181818181818182]},
 {'relationship': ' Wife',
  'race': ' White',
  'education_num': '8<x<12',
  'items': [6,
   215,
   232,
   240,
   341,
   396,
   452,
   834,
   976,
   1048,
   1092,
   1179,
   1309,
   1861,
   2167,
   2339,
   2413,
   2514,
   2521,
   2532,
   2582,
   2840,
   2892,
   2945,
   2991],
  'score': 0.10389610389610393,
  'scores': [0.7142857142857143, 0.8181818181818182]},
 {'relationship': ' Wife',
  'race': ' White',
  'education_num': '1<x<4',
  'items': [108,
   128,
   262,
   283,
   347,
   664,
   1070,
   1071,
   1346,
   1612,
   1714,
   2009,
   2078,
   2109,
   2188,
   2281,
   2290,
   2322,
   2433,
   2485,
   2489,
   2587,
   2786,
   2894],
  'score': 0.09090909090909094,
  'scores': [0.9090909090909091, 1.0]},
 {'relationship': ' Wife',
  'race': ' Amer_Indian_Eskimo',
  'education_num': 'x>12',
  'items': [5,
   40,
   102,
   179,
   217,
   314,
   337,
   381,
   442,
   491,
   513,
   534,
   639,
   754,
   781,
   873,
   918,
   944,
   996,
   1044,
   1254,
   1300,
   1524,
   1590,
   1624,
   1929,
   2163,
   2239,
   2598,
   2706,
   2873,
   2879,
   2920,
   2976],
  'score': 0.08421052631578951,
  'scores': [0.4, 0.3157894736842105]},
 {'relationship': ' Unmarried',
  'race': ' Other',
  'education_num': '8<x<12',
  'items': [23,
   486,
   546,
   585,
   742,
   757,
   949,
   1108,
   1281,
   1349,
   1515,
   1610,
   1790,
   1844,
   1928,
   2069,
   2168,
   2299,
   2335,
   2488,
   2523,
   2955],
  'score': 0.07692307692307687,
  'scores': [0.9230769230769231, 1.0]},
 {'relationship': ' Husband',
  'race': ' Other',
  'education_num': '4<x<8',
  'items': [12,
   47,
   64,
   84,
   219,
   221,
   435,
   471,
   612,
   974,
   979,
   1062,
   1118,
   1169,
   1478,
   1618,
   1671,
   1920,
   1966,
   1987,
   1996,
   2038,
   2166,
   2172,
   2226,
   2257,
   2368,
   2394,
   2460,
   2850,
   2966],
  'score': 0.06666666666666665,
  'scores': [1.0, 0.9333333333333333]},
 {'relationship': ' Other_relative',
  'race': ' Amer_Indian_Eskimo',
  'education_num': '8<x<12',
  'items': [43,
   48,
   72,
   278,
   288,
   765,
   821,
   826,
   917,
   1005,
   1390,
   1629,
   1661,
   1686,
   1839,
   1910,
   1942,
   1967,
   2206,
   2267,
   2610,
   2737,
   2862,
   2954,
   2961,
   2982],
  'score': 0.06666666666666665,
  'scores': [0.9333333333333333, 1.0]},
 {'relationship': ' Wife',
  'race': ' Black',
  'education_num': '8<x<12',
  'items': [163,
   210,
   293,
   312,
   401,
   416,
   572,
   601,
   655,
   681,
   701,
   741,
   890,
   1114,
   1279,
   1317,
   1538,
   1739,
   1748,
   1809,
   1827,
   1918,
   1923,
   1946,
   2028,
   2222,
   2327,
   2502,
   2590,
   2924],
  'score': 0.06666666666666665,
  'scores': [0.9333333333333333, 0.8666666666666667]},
 {'relationship': ' Unmarried',
  'race': ' Amer_Indian_Eskimo',
  'education_num': '8<x<12',
  'items': [164,
   376,
   386,
   449,
   526,
   527,
   571,
   635,
   659,
   678,
   802,
   816,
   1023,
   1117,
   1166,
   1192,
   1240,
   1316,
   1570,
   1579,
   1627,
   1742,
   1872,
   2481,
   2575,
   2603,
   2680,
   2743,
   2779,
   2951],
  'score': 0.0625,
  'scores': [0.9375, 1.0]},
 {'relationship': ' Wife',
  'race': ' Other',
  'education_num': '4<x<8',
  'items': [104,
   127,
   276,
   537,
   638,
   763,
   824,
   854,
   957,
   1191,
   1209,
   1253,
   1371,
   1527,
   1550,
   1684,
   1733,
   1852,
   1883,
   1943,
   1947,
   2022,
   2198,
   2250,
   2302,
   2366,
   2468,
   2620,
   2746,
   2813,
   2838,
   2903,
   2932,
   2973],
  'score': 0.0625,
  'scores': [1.0, 0.9375]},
 {'relationship': ' Wife',
  'race': ' White',
  'education_num': 'x>12',
  'items': [62,
   150,
   457,
   819,
   937,
   1073,
   1145,
   1456,
   1567,
   1899,
   1949,
   1953,
   1964,
   2052,
   2148,
   2318,
   2602,
   2702,
   2773],
  'score': 0.05555555555555558,
  'scores': [0.5555555555555556, 0.5]},
 {'relationship': ' Other_relative',
  'race': ' Amer_Indian_Eskimo',
  'education_num': 'x>12',
  'items': [375,
   387,
   524,
   836,
   926,
   933,
   1097,
   1104,
   1158,
   1662,
   1672,
   1678,
   2001,
   2315,
   2504,
   2547,
   2629,
   2637,
   2727,
   2940],
  'score': 0.04761904761904767,
  'scores': [0.7857142857142857, 0.8333333333333334]},
 {'relationship': ' Husband',
  'race': ' White',
  'education_num': '4<x<8',
  'items': [80,
   153,
   182,
   206,
   368,
   463,
   580,
   581,
   618,
   752,
   773,
   884,
   920,
   950,
   1207,
   2098,
   2225,
   2309,
   2370,
   2626,
   2788,
   2810,
   2839,
   2928],
  'score': 0.013986013986014068,
  'scores': [0.9090909090909091, 0.9230769230769231]},
 {'relationship': ' Wife',
  'race': ' Black',
  'education_num': 'x>12',
  'items': [101,
   140,
   198,
   340,
   474,
   488,
   502,
   616,
   739,
   769,
   814,
   1036,
   1072,
   1322,
   1500,
   1543,
   1785,
   1836,
   2071,
   2154,
   2217,
   2282,
   2393,
   2464,
   2495,
   2528,
   2647,
   2694],
  'score': 0.011111111111111183,
  'scores': [0.8888888888888888, 0.9]},
 {'relationship': ' Other_relative',
  'race': ' Other',
  'education_num': 'x>12',
  'items': [271,
   349,
   419,
   429,
   625,
   848,
   914,
   982,
   1041,
   1050,
   1285,
   1417,
   1495,
   1701,
   1798,
   2110,
   2193,
   2384,
   2516,
   2593,
   2713],
  'score': 0.009090909090909038,
  'scores': [0.9090909090909091, 0.9]},
 {'relationship': ' Wife',
  'race': ' White',
  'education_num': '4<x<8',
  'items': [93,
   168,
   331,
   775,
   1119,
   1135,
   1181,
   1289,
   1323,
   1419,
   1660,
   1718,
   1821,
   2280,
   2525,
   2608,
   2653,
   2871,
   2914,
   2977,
   2995],
  'score': 0.009090909090909038,
  'scores': [0.9, 0.9090909090909091]},
 {'relationship': ' Unmarried',
  'race': ' Amer_Indian_Eskimo',
  'education_num': '1<x<4',
  'items': [91,
   111,
   250,
   864,
   885,
   1199,
   1241,
   1472,
   1813,
   1867,
   2029,
   2031,
   2406,
   2638,
   2697,
   2878,
   2886,
   2933],
  'score': 0.0,
  'scores': [1.0, 1.0]},
 {'relationship': ' Unmarried',
  'race': ' Amer_Indian_Eskimo',
  'education_num': 'x<1',
  'items': [110, 427, 465, 628, 1764, 2005, 2067, 2761],
  'score': 0.0,
  'scores': [1.0, 1.0]},
 {'relationship': ' Unmarried',
  'race': ' Amer_Indian_Eskimo',
  'education_num': '4<x<8',
  'items': [81,
   255,
   277,
   339,
   522,
   985,
   1064,
   1101,
   1366,
   1394,
   1509,
   1520,
   1576,
   1588,
   1679,
   1919,
   2131,
   2211,
   2392,
   2660,
   2851,
   2876,
   2981],
  'score': 0.0,
  'scores': [1.0, 1.0]},
 {'relationship': ' Unmarried',
  'race': ' White',

In [8]:
n = 4
arr = [0,1,2,3,4,5,6]
maxValue = 80
minValue = 0
thresholds = [ math.floor(i*(maxValue-minValue)/n)+minValue for i in range(n+1)]
print(pd.Series([findRange(thresholds, i) for i in arr]))

0       x<0
1    0<x<20
2    0<x<20
3    0<x<20
4    0<x<20
5    0<x<20
6    0<x<20
dtype: object

In [26]:
import pandas as pd

df = pd.read_csv('dataTest_clean.csv')
df_ex = df.loc[(df['relationship']==' Wife')&(df['education_num']=='x>12')&(df['sex']==' Female')]
len(df_ex)

17