In [79]:

# # add id to samples
import pandas as pd

dataSets = ['dataTest','bank']
models = ['xgb','knn','lr']
for dataSet in dataSets:
    for model in models:
        sample_name = dataSet + '_' + model + 'samples_concat.json'
        rule_name = dataSet + '_' + model + 'rules.json'
        output_name = dataSet + '_' + model + 'rules_new.json'
        samples = pd.read_json(sample_name)

        # add item id to rules
        def item_within_rule(item, rule_context):
            for attr_val in rule_context:
                attr, val = attr_val.split('=')
                if not item[attr] == val :
                    return False
            return True

        rules = pd.read_json(rule_name)
        rules['items'] = ''
        for idx, rule in rules.iterrows():
            rules.at[idx, 'items'] = [sample['id'] for i,sample in samples.loc[1000:1999].iterrows() if item_within_rule(sample, rule["antecedent"])] 
        rules.to_json(output_name, orient='records')

        print(dataSet+'_'+Model+' has done')

print('All finished')

,antecedent,cls,conf_pd,conf_pnd,elift,id,pd,risk_dif,sup_pd,sup_pnd,items
0,"[hours_per_week=1<x<25, age=17<x<35, race= White]",class=1,0.777778,0.920000,0.845411,93,sex= Female,-0.142222,7,23,"[35, 38, 71, 105, 110, 252, 287, 298, 509, 537..."
1,"[age=17<x<35, race= White, workcla= Self_emp_inc]",class=1,0.750000,0.875000,0.857143,23,sex= Female,-0.125000,6,14,"[44, 104, 165, 280, 298, 469, 502, 509, 537, 6..."
2,"[hours_per_week=1<x<25, age=17<x<35, workcla= ...",class=1,0.750000,0.875000,0.857143,13,sex= Female,-0.125000,6,14,"[90, 238, 298, 364, 377, 485, 509, 535, 537, 5..."
3,"[hours_per_week=1<x<25, age=17<x<35, relations...",class=1,0.750000,0.875000,0.857143,33,sex= Female,-0.125000,6,14,"[38, 164, 242, 274, 533, 537, 723, 746, 800, 8..."
4,"[age=17<x<35, native_country= Taiwan]",class=1,0.833333,0.928571,0.897436,159,sex= Female,-0.095238,5,13,"[44, 105, 164, 298, 394, 412, 444, 537, 619, 6..."
5,"[workcla= Self_emp_inc, relationship= Wife]",class=1,0.833333,0.913043,0.912698,30,sex= Female,-0.079710,10,21,"[0, 44, 89, 109, 186, 270, 290, 309, 389, 394,..."
6,"[race= White, relationship= Wife]",class=1,0.833333,0.911765,0.913978,35,sex= Female,-0.078431,10,31,"[38, 44, 144, 186, 241, 309, 329, 331, 332, 34..."
7,"[hours_per_week=1<x<25, education_num=8<x<12, ...",class=1,0.857143,0.928571,0.923077,16,sex= Female,-0.071429,6,13,"[90, 237, 293, 295, 415, 485, 509, 562, 684, 7..."
8,"[age=17<x<35, education_num=4<x<8, race= White]",class=1,0.857143,0.928571,0.923077,99,sex= Female,-0.071429,6,13,"[38, 129, 165, 256, 282, 298, 378, 469, 537, 7..."
9,"[education_num=8<x<12, relationship= Wife]",class=1,0.888889,0.960000,0.925926,39,sex= Female,-0.071111,8,24,"[81, 83, 95, 232, 284, 301, 327, 371, 389, 472..."
10,"[hours_per_week=1<x<25, education= Assoc_acdm]",class=1,0.888889,0.956522,0.929293,115,sex= Female,-0.067633,8,22,"[12, 27, 49, 71, 128, 180, 196, 281, 299, 338,..."
11,"[education_num=4<x<8, native_country= Taiwan]",class=1,0.833333,0.900000,0.925926,164,sex= Female,-0.066667,5,9,"[286, 294, 298, 444, 537, 691, 728, 767, 801, ..."
12,"[hours_per_week=1<x<25, age=17<x<35, fnlwgt=27...",class=1,0.875000,0.937500,0.933333,136,sex= Female,-0.062500,7,15,"[71, 298, 333, 364, 379, 404, 485, 537, 579, 6..."
13,"[fnlwgt=274186<x<527198, education= Bachelors]",class=1,0.875000,0.937500,0.933333,156,sex= Female,-0.062500,7,15,"[106, 186, 336, 439, 495, 537, 574, 576, 616, ..."
14,"[age=17<x<35, education_num=4<x<8, fnlwgt=2741...",class=1,0.857143,0.916667,0.935065,134,sex= Female,-0.059524,6,11,"[106, 298, 364, 439, 537, 579, 598, 608, 660, ..."
15,"[hours_per_week=1<x<25, fnlwgt=274186<x<527198...",class=1,0.857143,0.916667,0.935065,18,sex= Female,-0.059524,6,11,"[119, 237, 298, 364, 485, 537, 587, 684, 698, ..."
16,"[race= White, education= Bachelors]",class=1,0.875000,0.933333,0.937500,152,sex= Female,-0.058333,7,14,"[7, 72, 186, 226, 252, 256, 318, 438, 537, 624..."
17,"[hours_per_week=1<x<25, education_num=8<x<12, ...",class=1,0.900000,0.956522,0.940909,101,sex= Female,-0.056522,9,22,"[35, 71, 258, 259, 287, 321, 376, 415, 509, 54..."
18,"[hours_per_week=1<x<25, education_num=4<x<8, r...",class=1,0.888889,0.944444,0.941176,98,sex= Female,-0.055556,8,17,"[38, 120, 153, 236, 298, 413, 516, 537, 554, 6..."
19,"[workcla= Self_emp_inc, native_country= Taiwan]",class=1,0.833333,0.888889,0.937500,161,sex= Female,-0.055556,5,8,"[44, 194, 298, 394, 422, 444, 527, 537, 707]"
20,"[education_num=4<x<8, race= White, workcla= Se...",class=1,0.833333,0.888889,0.937500,24,sex= Female,-0.055556,5,8,"[165, 298, 410, 469, 537, 581, 637, 777, 971]"
21,[native_country= Portugal],class=1,0.900000,0.954545,0.942857,157,sex= Female,-0.054545,9,21,"[7, 127, 193, 226, 249, 276, 342, 362, 514, 54..."
22,"[education_num=4<x<8, education= Bachelors]",class=1,0.875000,0.928571,0.942308,154,sex= Female,-0.053571,7,13,"[19, 79, 106, 134, 256, 336, 392, 439, 495, 53..."
23,"[age=17<x<35, race= White]",class=1,0.916667,0.967742,0.947222,92,sex= Female,-0.051075,22,60,"[7, 28, 35, 38, 39, 42, 44, 71, 77, 97, 100, 1..."
24,"[hours_per_week=1<x<25, relationship= Wife]",class=1,0.909091,0.959184,0.947776,32,sex= Female,-0.050093,20,47,"[38, 67, 83, 95, 98, 109, 144, 164, 170, 232, ..."
25,"[hours_per_week=1<x<25, age=17<x<35, education...",class=1,0.900000,0.950000,0.947368,7,sex= Female,-0.050000,9,19,"[11, 38, 55, 127, 298, 364, 451, 537, 579, 590..."
26,"[hours_per_week=1<x<25, age=17<x<35, education...",class=1,0.909091,0.958333,0.948617,71,sex= Female,-0.049242,10,23,"[35, 71, 90, 114, 126, 128, 275, 287, 313, 333..."
27,"[hours_per_week=1<x<25, native_country= Taiwan]",class=1,0.888889,0.937500,0.948148,163,sex= Female,-0.048611,8,15,"[105, 164, 194, 232, 245, 286, 289, 294, 298, ..."
28,"[hours_per_week=1<x<25, education= Bachelors]",class=1,0.900000,0.947368,0.950000,155,sex= Female,-0.047368,9,18,"[72, 146, 226, 252, 288, 336, 497, 535, 537, 5..."
29,"[age=17<x<35, education_num=8<x<12, workcla= S...",class=1,0.888889,0.933333,0.952381,15,sex= Female,-0.044444,8,14,"[2, 90, 104, 239, 260, 389, 423, 485, 509, 638..."
...,...,...,...,...,...,...,...,...,...,...,...
147,"[age=53<x<71, education_num=x>12, workcla= Sta...",class=1,1.000000,0.933333,1.071429,113,sex= Female,0.066667,10,14,"[53, 116, 151, 175, 178, 198, 220, 233, 291, 3..."
148,"[relationship= Own_child, education= Doctorate]",class=1,1.000000,0.933333,1.071429,59,sex= Female,0.066667,6,14,"[26, 53, 231, 243, 253, 292, 378, 442, 478, 48..."
149,"[age=53<x<71, relationship= Own_child, fnlwgt=...",class=1,1.000000,0.928571,1.076923,129,sex= Female,0.071429,6,13,"[5, 50, 53, 123, 271, 367, 387, 397, 611, 818,..."
150,"[relationship= Husband, education= Doctorate]",class=1,1.000000,0.928571,1.076923,64,sex= Female,0.071429,8,13,"[69, 124, 145, 168, 262, 295, 522, 583, 602, 7..."
151,"[hours_per_week=25<x<50, education_num=4<x<8, ...",class=1,1.000000,0.928571,1.076923,45,sex= Female,0.071429,9,13,"[3, 17, 155, 173, 263, 332, 522, 637, 662, 671..."
152,"[hours_per_week=25<x<50, education_num=4<x<8, ...",class=1,1.000000,0.928571,1.076923,85,sex= Female,0.071429,6,13,"[3, 59, 189, 256, 263, 341, 361, 429, 522, 641..."
153,"[education_num=x>12, relationship= Own_child, ...",class=1,1.000000,0.923077,1.083333,111,sex= Female,0.076923,7,12,"[53, 175, 178, 208, 288, 311, 384, 511, 640, 6..."
154,"[hours_per_week=25<x<50, education= Doctorate]",class=1,1.000000,0.923077,1.083333,62,sex= Female,0.076923,12,24,"[69, 129, 145, 168, 262, 292, 329, 378, 396, 4..."
155,"[age=35<x<53, native_country= Thailand]",class=1,1.000000,0.923077,1.083333,168,sex= Female,0.076923,6,12,"[13, 37, 57, 303, 329, 388, 411, 633, 674, 733..."
156,"[workcla= State_gov, education= Doctorate]",class=1,1.000000,0.923077,1.083333,61,sex= Female,0.076923,5,12,"[53, 129, 174, 262, 378, 446, 583, 593, 675, 6..."
157,"[hours_per_week=25<x<50, education_num=4<x<8, ...",class=1,1.000000,0.916667,1.090909,77,sex= Female,0.083333,9,11,"[37, 134, 145, 155, 173, 349, 439, 452, 506, 5..."
158,"[workcla= State_gov, hours_per_week=x>74]",class=1,1.000000,0.916667,1.090909,81,sex= Female,0.083333,5,11,"[53, 220, 227, 373, 385, 420, 498, 657, 680, 8..."
159,"[age=35<x<53, fnlwgt=274186<x<527198, relation...",class=1,1.000000,0.916667,1.090909,37,sex= Female,0.083333,5,11,"[59, 163, 186, 189, 301, 329, 492, 512, 688, 8..."
160,"[education_num=x>12, race= White, relationship...",class=1,1.000000,0.909091,1.100000,123,sex= Female,0.090909,5,10,"[26, 53, 103, 110, 191, 356, 421, 665, 702, 71..."
161,"[relationship= Wife, education= Doctorate]",class=1,1.000000,0.909091,1.100000,65,sex= Female,0.090909,5,10,"[144, 329, 330, 446, 496, 691, 723, 853, 884, ..."
162,"[age=35<x<53, workcla= Self_emp_not_inc, relat...",class=1,1.000000,0.909091,1.100000,41,sex= Female,0.090909,6,10,"[170, 329, 386, 443, 456, 639, 655, 685, 727, ..."
163,"[workcla= Self_emp_not_inc, education= Doctorate]",class=1,1.000000,0.909091,1.100000,66,sex= Female,0.090909,5,10,"[145, 329, 396, 496, 567, 614, 741, 812, 855, ..."
164,"[age=x>71, education= Doctorate]",class=1,1.000000,0.909091,1.100000,54,sex= Female,0.090909,6,10,"[1, 124, 174, 481, 482, 522, 559, 593, 741, 85..."
165,"[hours_per_week=25<x<50, native_country= Thail...",class=1,1.000000,0.909091,1.100000,170,sex= Female,0.090909,5,10,"[37, 57, 117, 213, 303, 329, 367, 674, 766, 88..."
166,"[age=53<x<71, relationship= Own_child, workcla...",class=1,1.000000,0.900000,1.111111,110,sex= Female,0.100000,7,9,"[50, 53, 135, 156, 175, 178, 250, 611, 628, 710]"
167,"[age=35<x<53, race= White, workcla= Self_emp_n...",class=1,1.000000,0.900000,1.111111,146,sex= Female,0.100000,5,9,"[99, 226, 329, 505, 515, 556, 560, 639, 685, 734]"
168,"[age=35<x<53, race= White, education= Doctorate]",class=1,1.000000,0.900000,1.111111,58,sex= Female,0.100000,7,9,"[21, 26, 69, 144, 329, 667, 691, 738, 788, 954]"
169,"[workcla= Self_emp_not_inc, education_num=x<1]",class=1,1.000000,0.900000,1.111111,176,sex= Female,0.100000,5,9,"[172, 181, 329, 358, 409, 567, 646, 776, 950, ..."
170,"[hours_per_week=25<x<50, workcla= Local_gov, a...",class=1,1.000000,0.888889,1.125000,48,sex= Female,0.111111,5,8,"[3, 201, 263, 340, 393, 522, 551, 883, 904]"
171,"[hours_per_week=25<x<50, fnlwgt=274186<x<52719...",class=1,1.000000,0.888889,1.125000,144,sex= Female,0.111111,5,8,"[37, 216, 268, 306, 329, 397, 608, 830, 907]"
172,"[education_num=x>12, race= White, workcla= Sta...",class=1,1.000000,0.888889,1.125000,105,sex= Female,0.111111,5,8,"[53, 116, 198, 331, 420, 710, 874, 941, 959]"
173,"[hours_per_week=25<x<50, age=35<x<53, educatio...",class=1,1.000000,0.888889,1.125000,174,sex= Female,0.111111,6,8,"[78, 187, 329, 446, 476, 512, 514, 788, 968]"
174,"[hours_per_week=25<x<50, relationship= Husband...",class=1,1.000000,0.875000,1.142857,63,sex= Female,0.125000,5,7,"[69, 145, 168, 262, 522, 602, 819, 855]"
175,"[age=x>71, native_country= United_States]",class=1,1.000000,0.857143,1.166667,165,sex= Female,0.142857,5,6,"[10, 17, 504, 522, 741, 755, 959]"
176,"[race= White, education= Doctorate]",class=1,1.000000,0.833333,1.200000,57,sex= Female,0.166667,10,15,"[21, 26, 53, 69, 129, 144, 329, 378, 522, 544,..."

In [68]:
for i,var in samples.iterrows():
    if((samples.at[i,'age']=='17<x<35')&(samples.at[i,'education'].replace(" ","")=='Bachelors')):
        print(samples.at[i,'id'])

15
33
139
251
253
466
545
549
571
677
731
735
758
837
861
868
894
961
985