In [37]:
import pandas as pd

df = pd.read_csv('dataTest_rules.csv')
df_filter1 = df.loc[abs(df['elift']-1)>=0.3]
df_filter2 = df_filter1.loc[(~df_filter1['antecedent'].str.contains('Unnamed'))]
#df_filter2 = df_filter1
print(len(df_filter1),len(df_filter2))
df_filter2.to_csv('rules.csv')

53 23

In [31]:

df = pd.read_csv('dataTest_xgb_rules.csv')
df_filter1 = df.loc[abs(df['conf_pd']-df['conf_pnd'])>=df['conf_pnd'] * 0.3]
df_filter2 = df_filter1.loc[(df_filter1['antecedent'].str.contains('education_num'))|(df_filter1['antecedent'].str.contains('hours_per_week')|(df_filter1['antecedent'].str.contains('relationship')))]
print(len(df_filter1),len(df_filter2))
df_filter1

5 5

,Unnamed: 0,antecedent,pd,cls,conf_pd,conf_pnd,elift,sup_pd,sup_pnd
824,697,"['workclass= Self_emp_inc', 'hours_per_week=x>...",sex= Female,class=LOW,1.0,0.764706,1.307692,8.0,13.0
825,698,"['race= Asian_Pac_Islander', 'hours_per_week=x...",sex= Female,class=LOW,1.0,0.750000,1.333333,6.0,12.0
826,666,"['hours_per_week=25<x<50', 'race= Asian_Pac_Is...",sex= Female,class=LOW,1.0,0.750000,1.333333,5.0,9.0
827,797,"['hours_per_week=25<x<50', 'native_country= Ph...",sex= Female,class=LOW,1.0,0.750000,1.333333,6.0,12.0
828,75,"['age=53<x<71', 'relationship= Husband', 'fnlw...",sex= Female,class=LOW,1.0,0.714286,1.400000,5.0,5.0

In [32]:
df = pd.read_csv('dataTest_knn_rules.csv')
df_filter1 = df.loc[abs(df['conf_pd']-df['conf_pnd'])>=df['conf_pnd'] * 0.3]
df_filter2 = df_filter1.loc[(df_filter1['antecedent'].str.contains('education_num'))|(df_filter1['antecedent'].str.contains('hours_per_week')|(df_filter1['antecedent'].str.contains('relationship')))]
print(len(df_filter1),len(df_filter2))
df_filter1

0 0

Empty DataFrame
Columns: [Unnamed: 0, antecedent, pd, cls, conf_pd, conf_pnd, elift, sup_pd, sup_pnd]
Index: []

In [17]:
import pandas as pd

df = pd.read_csv('dataTest_rules.csv')
df_0 = df.iloc[0]
df_0 = df_0['antecedent']
df_1 = df_0.split("'")
df_2 = [s for s in df_1 if len(s)>5]
record = []
for var in df_2:
    var_split = var.split('=')
    record.append(var_split)
record

[['relationship', ' Not-in-family'], ['education', ' Masters']]